## Pandas Tutorial

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

Agenda

- What is Data Frames?
- What is Data Series?
- Different operation in Pandas

In [1]:
## First step is to import pandas 

import pandas as pd
import numpy as np

In [2]:
## Playing with Dataframe#give index on the basis of row size ,rows size is 5 thats why put 5 row name,and put 4 clm name

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])

In [3]:
df.head()

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [4]:
df.to_csv('Test1.csv')
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [5]:
## Accessing the elements.there are two way 1st iloc and loc .loc is focusing on row index and iloc is focusing on  row and column index

df.loc['Row1']

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int32

In [6]:
## Check the type

type(df.loc['Row1'])

pandas.core.series.Series

In [7]:
df.loc['Row1']#take it rowname with there clm-name into one line

Column1    0
Column2    1
Column3    2
Coumn4     3
Name: Row1, dtype: int32

In [8]:
df.iloc[:,:]#left side for row indexes and right side for column indexes

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [9]:
## Check the type

type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [10]:
df.iloc[0:3,0:2]#

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [11]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [12]:
df.iloc[:2,:1]

      Column1
Row1        0
Row2        4

In [13]:
df.iloc[0:2,0:1]

      Column1
Row1        0
Row2        4

In [14]:
df.iloc[:2,1]

Row1    1
Row2    5
Name: Column2, dtype: int32

In [15]:
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [16]:
#convert Dataframes into array
df.iloc[:,1:].values#conevert all value into array

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [17]:
df.iloc[:,1:].values.shape#5 row and 3 column

(5, 3)

In [18]:
df['Column1'].value_counts()#in column1 0,8,16,4,12 are present in only 1 times

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [19]:
df['Column1'].unique()#capture only unique value.repeated value not shows

array([ 0,  4,  8, 12, 16], dtype=int64)

In [20]:
df['Column3']#if you want to get only specific column

Row1     2
Row2     6
Row3    10
Row4    14
Row5    18
Name: Column3, dtype: int32

In [21]:
df['Column1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Column1, dtype: int32

In [22]:
df[['Column1','Column3']]#use double bracket

      Column1  Column3
Row1        0        2
Row2        4        6
Row3        8       10
Row4       12       14
Row5       16       18

In [23]:
df[['Column1','Column3','Column2']]

      Column1  Column3  Column2
Row1        0        2        1
Row2        4        6        5
Row3        8       10        9
Row4       12       14       13
Row5       16       18       17

In [24]:
type(df['Column1'])

pandas.core.series.Series

In [25]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Coumn4     0
dtype: int64

In [26]:
df=pd.read_csv('mercedesbenz.csv')#diff diff read functions read_csv,excel,json,clipboard,feature,gbq,hdf,fwf,html,pickel,msgpack etc

In [27]:
df

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
11,32,98.12,al,r,e,f,d,f,h,o,...,0,0,0,0,0,0,0,0,0,0
12,34,82.62,s,b,ai,c,d,f,g,m,...,0,0,1,0,0,0,0,0,0,0
13,36,94.12,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
14,37,99.15,o,s,as,e,d,j,g,m,...,1,0,0,0,0,0,0,0,0,0
15,38,93.64,n,l,ak,f,d,j,d,k,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
18,44,89.81,f,c,m,c,d,j,d,e,...,0,0,1,0,0,0,0,0,0,0
19,47,90.81,n,a,ak,f,d,j,i,s,...,0,0,0,0,0,0,0,0,0,0
20,48,90.56,f,s,m,c,d,j,j,i,...,0,0,1,0,0,0,0,0,0,0
21,49,94.57,t,aa,as,d,d,j,j,s,...,0,1,0,0,0,0,0,0,0,0
22,50,108.14,x,r,a,b,d,j,j,o,...,1,0,0,0,0,0,0,0,0,0
23,52,120.77,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
24,54,84.84,y,r,ak,d,d,j,d,s,...,0,0,0,0,0,0,0,0,0,0
25,60,93.59,o,s,m,c,d,j,i,v,...,0,0,1,0,0,0,0,0,0,0
26,61,104.07,aj,l,as,f,d,j,g,j,...,0,0,0,0,0,0,0,0,0,0
27,62,89.37,t,aa,as,c,d,j,d,b,...,1,0,0,0,0,0,0,0,0,0
28,66,90.08,f,s,as,c,d,j,c,q,...,1,0,0,0,0,0,0,0,0,0
29,67,128.19,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,8354,85.93,al,a,ak,f,d,aa,l,t,...,0,0,0,0,0,0,0,0,0,0
4180,8356,90.45,ba,v,ai,a,d,aa,l,a,...,0,0,1,0,0,0,0,0,0,0
4181,8357,90.06,y,r,as,f,d,aa,g,v,...,0,0,0,0,0,0,0,0,0,0
4182,8362,90.38,z,v,ae,c,d,aa,g,r,...,1,0,0,0,0,0,0,0,0,0
4183,8367,95.56,z,aa,m,c,d,aa,l,s,...,1,0,0,0,0,0,0,0,0,0
4184,8368,109.00,w,s,as,c,d,aa,d,i,...,1,0,0,0,0,0,0,0,0,0
4185,8369,109.64,ak,v,ao,d,d,aa,g,p,...,0,1,0,0,0,0,0,0,0,0
4186,8371,131.98,j,f,ar,a,d,aa,j,n,...,0,0,1,0,0,0,0,0,0,0
4187,8373,98.15,aj,l,ae,f,d,aa,j,j,...,0,0,0,0,0,0,0,0,0,0
4188,8374,102.33,f,s,as,a,d,aa,d,t,...,0,0,1,0,0,0,0,0,0,0
4189,8375,102.42,aj,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4190,8378,89.11,n,s,ae,c,d,aa,j,f,...,1,0,0,0,0,0,0,0,0,0
4191,8382,88.93,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4192,8383,103.03,aj,l,as,f,d,aa,j,n,...,0,0,0,0,0,0,0,0,0,0
4193,8384,107.24,ak,v,aw,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4194,8385,91.13,z,o,as,f,d,aa,i,j,...,0,0,0,0,0,0,0,0,0,0
4195,8387,86.23,o,l,ae,f,d,aa,g,j,...,0,0,0,0,0,0,0,0,0,0
4196,8390,99.93,y,o,m,f,d,aa,l,y,...,0,0,0,0,0,0,0,0,0,0
4197,8392,89.25,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4198,8393,97.09,aw,a,ak,f,d,aa,h,o,...,0,0,0,0,0,0,0,0,0,0
4199,8395,88.24,t,aa,ay,c,d,aa,l,o,...,1,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4203,8403,85.71,aq,s,as,c,d,aa,a,g,...,1,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [28]:
df.head()#csv means comma seprated values

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [30]:
df.describe()#categorical feature wil be sxip bcoz you can not find out mean count max etc. mathematical operation.last rows find 25 50 75 % this is not percentage it is percentile.
#X0 to X9 this are catogorical feature

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
df['X0'].unique()

array(['k', 'az', 't', 'al', 'o', 'w', 'j', 'h', 's', 'n', 'ay', 'f', 'x',
       'y', 'aj', 'ak', 'am', 'z', 'q', 'at', 'ap', 'v', 'af', 'a', 'e',
       'ai', 'd', 'aq', 'c', 'aa', 'ba', 'as', 'i', 'r', 'b', 'ax', 'bc',
       'u', 'ad', 'au', 'm', 'l', 'aw', 'ao', 'ac', 'g', 'ab'],
      dtype=object)

In [32]:
a=pd.read_csv("test.csv",sep=';')#bcoz by cav separator file separted by ;
a

   Unnamed: 0 col1  col3  Unnamed: 3
0           0    x     1         NaN
1           1    a     2         NaN
2           2    c     3         NaN

In [33]:
#Get the unique category counts
df['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
i      18
am     18
aq     18
u      17
aw     16
l      16
ad     14
au     11
k      11
b      11
as     10
r      10
bc      6
ao      4
c       3
q       2
aa      2
ab      1
ac      1
g       1
Name: X0, dtype: int64

In [34]:
df[df['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
22,50,108.14,x,r,a,b,d,j,j,o,...,1,0,0,0,0,0,0,0,0,0
23,52,120.77,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
26,61,104.07,aj,l,as,f,d,j,g,j,...,0,0,0,0,0,0,0,0,0,0
29,67,128.19,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
31,70,107.86,w,e,as,c,d,j,l,w,...,0,0,1,0,0,0,0,0,0,0
32,74,106.87,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
33,75,104.85,o,s,as,d,d,j,a,v,...,1,0,0,0,0,0,0,0,0,0
34,79,114.78,ak,s,as,c,d,j,j,b,...,1,0,0,0,0,0,0,0,0,0
37,86,117.31,j,v,k,d,d,j,j,j,...,0,0,0,0,0,1,0,0,0,0
39,92,110.76,w,s,as,c,d,j,j,k,...,1,0,0,0,0,0,0,0,0,0
40,100,101.44,aj,l,as,f,d,j,i,n,...,0,0,0,0,0,0,0,0,0,0
43,107,139.20,w,s,as,c,d,j,i,q,...,1,0,0,0,0,0,0,0,0,0
45,109,110.52,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
49,119,108.00,at,j,ai,b,d,j,d,i,...,0,0,0,0,0,0,0,0,0,0
50,124,116.59,w,w,as,f,d,j,l,e,...,1,0,0,0,0,0,0,0,0,0
52,127,119.44,ap,l,s,c,d,j,d,h,...,0,0,0,0,0,0,0,0,0,0
57,133,108.42,w,u,as,c,d,j,i,s,...,1,0,0,0,0,0,0,0,0,0
60,139,104.78,ay,b,ak,c,d,j,c,v,...,0,0,1,0,0,0,0,0,0,0
63,145,111.74,ak,p,ak,c,d,j,d,v,...,1,0,0,0,0,0,0,0,0,0
64,146,109.76,x,b,as,c,d,j,j,j,...,0,0,1,0,0,0,0,0,0,0
67,151,107.72,w,s,as,c,d,j,j,u,...,1,0,0,0,0,0,0,0,0,0
69,153,118.24,aj,s,as,c,d,j,g,a,...,1,0,0,0,0,0,0,0,0,0
71,158,113.40,ak,s,as,c,d,j,g,a,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4138,8270,107.29,f,l,ae,f,d,aa,d,b,...,0,0,0,0,0,0,0,0,0,0
4139,8273,104.26,w,s,as,e,d,aa,a,v,...,1,0,0,0,0,0,0,0,0,0
4142,8284,106.30,ak,s,as,c,d,aa,l,h,...,1,0,0,0,0,0,0,0,0,0
4148,8293,106.53,x,aa,as,c,d,aa,j,d,...,1,0,0,0,0,0,0,0,0,0
4149,8295,111.15,w,s,as,c,d,aa,i,e,...,1,0,0,0,0,0,0,0,0,0
4150,8297,105.61,ak,l,as,f,d,aa,g,i,...,0,0,0,0,0,0,0,0,0,0
4152,8300,103.62,x,r,aw,d,d,aa,l,w,...,1,0,0,0,0,0,0,0,0,0
4155,8304,106.34,w,s,as,a,d,aa,c,p,...,0,0,1,0,0,0,0,0,0,0
4160,8310,108.75,j,r,t,d,d,aa,j,h,...,0,1,0,0,0,0,0,0,0,0
4163,8313,104.42,j,r,t,d,d,aa,j,h,...,0,1,0,0,0,0,0,0,0,0
4165,8322,105.10,x,v,e,c,d,aa,g,s,...,0,0,0,0,1,0,0,0,0,0
4171,8336,118.81,x,z,m,c,d,aa,a,c,...,1,0,0,0,0,0,0,0,0,0
4173,8340,101.86,ak,v,aw,c,d,aa,k,n,...,0,0,0,0,0,0,0,0,0,0
4174,8342,104.29,ak,s,as,c,d,aa,c,j,...,1,0,0,0,0,0,0,0,0,0
4176,8344,149.52,ak,l,as,a,d,aa,j,r,...,0,0,1,0,0,0,0,0,0,0
4177,8348,106.61,j,r,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4184,8368,109.00,w,s,as,c,d,aa,d,i,...,1,0,0,0,0,0,0,0,0,0
4185,8369,109.64,ak,v,ao,d,d,aa,g,p,...,0,1,0,0,0,0,0,0,0,0
4186,8371,131.98,j,f,ar,a,d,aa,j,n,...,0,0,1,0,0,0,0,0,0,0
4188,8374,102.33,f,s,as,a,d,aa,d,t,...,0,0,1,0,0,0,0,0,0,0
4189,8375,102.42,aj,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4192,8383,103.03,aj,l,as,f,d,aa,j,n,...,0,0,0,0,0,0,0,0,0,0
4193,8384,107.24,ak,v,aw,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [35]:
df.corr()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
ID,1.000000,-0.055108,0.001602,NaN,0.058988,-0.031917,-0.025438,0.002237,-0.036480,-0.038171,...,0.045229,-0.080259,-0.022965,0.030371,0.023382,-0.013577,-0.038171,-0.009332,-0.015355,0.029059
y,-0.055108,1.000000,-0.026985,NaN,0.089792,0.048276,0.193643,0.023116,0.048946,-0.159815,...,0.029100,0.114005,0.061403,-0.258679,0.067919,0.040932,-0.159815,0.040291,-0.004591,-0.022280
X10,0.001602,-0.026985,1.000000,NaN,-0.033084,-0.028806,-0.100474,-0.002532,-0.005944,-0.010164,...,0.165277,-0.028618,-0.074244,-0.016870,-0.011374,-0.010479,-0.010164,-0.004740,-0.002532,-0.004387
X11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X12,0.058988,0.089792,-0.033084,NaN,1.000000,0.214825,-0.246513,-0.006212,-0.014584,-0.024937,...,-0.107864,-0.070214,0.030134,-0.016043,-0.027907,-0.005566,-0.024937,-0.011628,-0.006212,-0.010765
X13,-0.031917,0.048276,-0.028806,NaN,0.214825,1.000000,-0.083141,-0.005409,-0.012698,-0.021713,...,-0.169721,-0.061136,0.357229,-0.036040,-0.024299,0.023045,-0.021713,-0.010125,0.041242,-0.009373
X14,-0.025438,0.193643,-0.100474,NaN,-0.246513,-0.083141,1.000000,-0.018865,-0.044291,0.012713,...,0.118950,0.026496,-0.097464,-0.037958,0.103309,0.007743,0.012713,0.023604,0.025199,0.043667
X15,0.002237,0.023116,-0.002532,NaN,-0.006212,-0.005409,-0.018865,1.000000,-0.001116,-0.001908,...,-0.014917,-0.005373,0.032168,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,-0.000475,-0.000824
X16,-0.036480,0.048946,-0.005944,NaN,-0.014584,-0.012698,-0.044291,-0.001116,1.000000,-0.004480,...,-0.025036,-0.012615,0.045461,-0.007437,-0.005014,-0.004619,-0.004480,-0.002089,-0.001116,-0.001934
X17,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X18,-0.027063,-0.001789,-0.010323,NaN,-0.025327,-0.010525,-0.076916,-0.001938,-0.004550,0.085256,...,0.037446,-0.021908,-0.013853,0.043885,-0.008707,-0.008022,0.085256,0.062481,-0.001938,-0.003359
X19,-0.012762,-0.168895,-0.038610,NaN,-0.094730,-0.082482,-0.287691,-0.007250,-0.017020,-0.029102,...,0.118184,-0.081943,0.051426,-0.048305,-0.032569,-0.021140,-0.029102,-0.013571,-0.007250,-0.012563
X20,0.063216,-0.095148,-0.047393,NaN,-0.116280,-0.043126,-0.353137,-0.008899,-0.020892,-0.027905,...,-0.025680,-0.080123,-0.010522,-0.059294,-0.025979,-0.006485,-0.027905,0.000008,-0.008899,-0.015421
X21,-0.029946,0.031111,-0.005944,NaN,-0.014584,0.007215,-0.044291,-0.001116,-0.002620,-0.004480,...,0.064834,-0.012615,-0.024677,-0.007437,-0.005014,-0.004619,-0.004480,-0.002089,-0.001116,-0.001934
X22,-0.096610,-0.094320,-0.035836,NaN,-0.087924,0.226530,-0.267021,-0.006729,-0.015797,-0.017304,...,-0.084487,-0.076055,0.320950,-0.044834,-0.030229,-0.027849,-0.017304,-0.012596,-0.006729,-0.011660
X23,-0.010612,-0.078676,-0.016870,NaN,-0.041391,-0.036040,-0.125703,-0.003168,-0.007437,-0.012716,...,0.011684,-0.035804,-0.040945,-0.009369,-0.014230,-0.013110,-0.012716,-0.005930,-0.003168,-0.005489
X24,-0.008972,-0.003526,-0.005067,NaN,-0.012433,-0.010825,-0.004686,-0.000951,-0.002234,-0.003820,...,-0.029856,-0.010755,-0.029579,-0.006340,-0.004274,-0.003938,-0.003820,0.132088,-0.000951,-0.001649
X26,-0.048634,-0.021173,-0.008223,NaN,-0.020175,-0.017566,-0.061270,-0.001544,-0.003625,0.226724,...,-0.026740,-0.017451,0.039127,-0.010288,-0.006936,-0.006390,0.226724,-0.002890,-0.001544,-0.002675
X27,0.004214,-0.053483,0.070276,NaN,0.184599,0.110191,0.126863,-0.031974,-0.075065,0.059687,...,0.139066,-0.042846,0.043493,0.099070,0.051013,-0.035398,0.059687,0.002780,-0.031974,0.025765
X28,0.030967,-0.250288,-0.021300,NaN,-0.052259,-0.039773,-0.158707,-0.003999,-0.009389,0.045600,...,-0.096764,-0.045204,-0.083969,0.434454,-0.017967,-0.016553,0.045600,-0.007486,-0.003999,-0.006930
X29,0.004175,-0.379629,-0.024615,NaN,-0.042617,-0.052586,-0.076904,-0.004622,-0.010851,0.412903,...,-0.145030,-0.052242,-0.143683,0.685348,-0.020764,-0.019130,0.412903,-0.008652,-0.004622,-0.008009
X30,0.015264,-0.043247,-0.007820,NaN,-0.019185,-0.016705,-0.058265,-0.001468,-0.003447,-0.005894,...,-0.030861,-0.016596,-0.045644,-0.009783,-0.006596,-0.006077,-0.005894,-0.002748,-0.001468,-0.002544
X31,-0.040157,-0.086976,-0.044248,NaN,-0.126861,-0.095558,-0.313459,-0.011996,-0.028163,0.068420,...,0.029181,-0.087163,0.012263,0.133582,0.085267,0.032050,0.068420,0.005156,-0.011996,-0.020787
X32,0.013217,0.001750,-0.012340,NaN,-0.030276,-0.026362,-0.091947,-0.002317,-0.005440,-0.009301,...,0.014625,0.256028,-0.072029,-0.015438,-0.010409,-0.009590,-0.009301,-0.004337,-0.002317,-0.004015
X33,0.015306,-0.014664,-0.001790,NaN,-0.004392,-0.003824,0.017817,-0.000336,-0.000789,-0.001349,...,0.022532,-0.003799,-0.010449,-0.002240,-0.001510,-0.001391,-0.001349,-0.000629,-0.000336,-0.000582
X34,-0.008026,0.061151,-0.008608,NaN,-0.021119,-0.018388,-0.064136,-0.001616,-0.003794,-0.006488,...,-0.016136,-0.018268,0.046906,-0.010769,-0.007261,-0.006689,-0.006488,-0.003025,-0.001616,-0.002801
X35,-0.040157,-0.086976,-0.044248,NaN,-0.126861,-0.095558,-0.313459,-0.011996,-0.028163,0.068420,...,0.029181,-0.087163,0.012263,0.133582,0.085267,0.032050,0.068420,0.005156,-0.011996,-0.020787
X36,0.011691,-0.016999,-0.007820,NaN,-0.019185,-0.016705,-0.058265,-0.001468,-0.003447,-0.005894,...,-0.030861,-0.016596,0.007774,-0.009783,-0.006596,-0.006077,-0.005894,-0.002748,-0.001468,-0.002544
X37,-0.040157,-0.086976,-0.044248,NaN,-0.126861,-0.095558,-0.313459,-0.011996,-0.028163,0.068420,...,0.029181,-0.087163,0.012263,0.133582,0.085267,0.032050,0.068420,0.005156,-0.011996,-0.020787
X38,0.256003,0.012614,-0.021539,NaN,0.017543,-0.029005,0.061752,-0.004044,-0.009495,-0.016235,...,-0.010342,0.045529,-0.034439,-0.026948,-0.018169,0.012864,-0.016235,-0.007571,-0.004044,-0.007008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X355,0.041805,0.124188,0.139665,NaN,-0.037512,-0.192270,0.056933,0.027828,-0.040107,-0.000969,...,-0.058244,0.110225,0.122234,-0.086310,-0.016217,0.055039,-0.000969,0.052093,0.005373,-0.029603
X356,-0.038715,-0.019163,-0.048979,NaN,-0.046559,-0.116168,-0.208902,0.018175,0.048728,-0.040988,...,-0.320387,-0.043518,0.618954,-0.068033,-0.045870,0.102867,-0.040988,0.071977,-0.010210,-0.017693
X357,-0.021326,-0.016526,-0.004005,NaN,-0.009826,-0.008555,0.039858,-0.000752,-0.001765,-0.003019,...,-0.023595,-0.008499,-0.023376,-0.005010,-0.003378,-0.003112,-0.003019,-0.001408,-0.000752,-0.001303
X358,-0.016827,-0.020961,-0.100230,NaN,0.085827,0.283290,0.161773,-0.018820,0.002857,0.046107,...,0.026843,-0.165170,-0.134136,0.131178,-0.064744,-0.018867,0.046107,0.011922,0.003220,0.043773
X359,-0.033066,-0.014465,-0.021057,NaN,-0.051664,0.007134,0.168556,-0.003954,-0.009282,0.155503,...,0.026934,-0.033041,-0.061724,-0.026345,0.010134,-0.016364,0.155503,-0.007401,-0.003954,-0.006851
X360,0.040947,0.129839,-0.033422,NaN,0.236848,0.341697,0.005676,-0.006276,0.002774,-0.025192,...,0.015984,-0.044002,0.076279,-0.041814,-0.009767,-0.006002,-0.025192,-0.011747,-0.006276,-0.010875
X361,-0.028955,0.022974,0.021777,NaN,-0.210335,0.046522,0.085403,0.004089,0.009600,0.016414,...,0.108607,0.046218,0.127114,0.027245,0.018370,0.016924,0.016414,0.007654,0.004089,0.007086
X362,0.032658,-0.039556,0.111496,NaN,-0.083772,-0.258361,-0.108226,-0.000887,0.002576,-0.091158,...,0.033409,0.019659,0.216654,-0.151307,0.074444,-0.014295,-0.091158,0.027518,-0.000887,-0.039350
X363,0.039679,0.108564,0.056725,NaN,0.093726,0.056781,0.227999,0.012459,-0.078781,0.024615,...,-0.022109,0.000759,-0.035467,0.059754,-0.080466,0.039242,0.024615,0.023322,0.012459,0.021589
X364,-0.063217,0.001008,-0.006209,NaN,-0.015234,0.005803,0.061799,-0.001166,-0.002737,-0.004680,...,-0.017460,-0.013178,-0.026649,-0.007768,-0.005238,-0.004825,-0.004680,-0.002182,0.407763,-0.002020
X365,-0.063217,0.001008,-0.006209,NaN,-0.015234,0.005803,0.061799,-0.001166,-0.002737,-0.004680,...,-0.017460,-0.013178,-0.026649,-0.007768,-0.005238,-0.004825,-0.004680,-0.002182,0.407763,-0.002020
X366,-0.016526,-0.001777,-0.004005,NaN,-0.009826,0.020960,0.039858,-0.000752,-0.001765,-0.003019,...,0.006006,-0.008499,-0.008525,-0.005010,-0.003378,-0.003112,-0.003019,-0.001408,0.632230,-0.001303
X367,0.037122,0.100708,-0.027139,NaN,-0.066587,-0.057978,0.226781,-0.005096,0.030034,-0.020456,...,-0.159900,-0.057598,0.340191,-0.033954,-0.022893,-0.009114,-0.020456,-0.009539,-0.005096,-0.008830
X368,0.006228,0.101059,-0.030039,NaN,-0.062547,-0.047400,-0.087187,-0.005640,-0.013242,0.022482,...,-0.107600,-0.059536,0.098935,-0.010034,-0.025339,0.009496,0.022482,0.013489,-0.005640,-0.009774
X369,-0.007621,0.015230,-0.002532,NaN,-0.006212,-0.005409,-0.018865,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,-0.014779,-0.003168,-0.002136,0.241611,-0.001908,-0.000890,-0.000475,-0.000824
X370,0.087520,0.056700,-0.009503,NaN,-0.023315,-0.020301,-0.070807,-0.001784,-0.004189,-0.007163,...,-0.055989,0.332060,-0.055469,-0.011889,-0.008016,-0.007385,-0.007163,-0.003340,-0.001784,-0.003092
X371,0.002822,-0.215375,-0.013964,NaN,-0.034261,-0.029832,-0.091899,-0.002622,-0.006156,-0.010526,...,-0.082275,-0.029636,-0.081511,-0.017471,-0.011779,-0.010852,-0.010526,-0.004908,-0.002622,-0.004544
X372,-0.022628,-0.036545,-0.002532,NaN,-0.006212,-0.005409,-0.018865,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,-0.014779,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,-0.000475,-0.000824
X373,0.005930,-0.058952,-0.016266,NaN,0.176659,-0.034749,-0.054797,-0.003054,-0.007170,-0.012261,...,-0.095837,-0.034522,-0.094947,-0.020351,-0.013721,-0.012641,-0.012261,-0.005717,-0.003054,-0.005293
X374,0.014103,0.015378,-0.062993,NaN,0.097125,-0.134572,-0.008845,-0.011828,-0.005563,-0.047481,...,-0.371145,-0.133691,-0.367698,-0.078811,-0.053137,-0.048954,-0.047481,-0.022141,0.014182,-0.020496
X375,0.045229,0.029100,0.165277,NaN,-0.107864,-0.169721,0.118950,-0.014917,-0.025036,-0.059883,...,1.000000,-0.168611,-0.463738,-0.099396,-0.067016,-0.061741,-0.059883,-0.015413,-0.014917,0.055225
X376,-0.080259,0.114005,-0.028618,NaN,-0.070214,-0.061136,0.026496,-0.005373,-0.012615,-0.021571,...,-0.168611,1.000000,-0.167045,-0.035804,-0.024140,-0.022240,-0.021571,-0.010059,-0.005373,-0.009311
X377,-0.022965,0.061403,-0.074244,NaN,0.030134,0.357229,-0.097464,0.032168,0.045461,-0.059327,...,-0.463738,-0.167045,1.000000,-0.098473,-0.066393,-0.061168,-0.059327,0.035107,0.008694,-0.025610
X378,0.030371,-0.258679,-0.016870,NaN,-0.016043,-0.036040,-0.037958,-0.003168,-0.007437,-0.012716,...,-0.099396,-0.035804,-0.098473,1.000000,-0.014230,-0.013110,-0.012716,-0.005930,-0.003168,-0.005489
X379,0.023382,0.067919,-0.011374,NaN,-0.027907,-0.024299,0.103309,-0.002136,-0.005014,-0.008573,...,-0.067016,-0.024140,-0.066393,-0.014230,1.000000,-0.008839,-0.008573,-0.003998,-0.002136,-0.003701
X380,-0.013577,0.040932,-0.010479,NaN,-0.005566,0.023045,0.007743,-0.001968,-0.004619,-0.007899,...,-0.061741,-0.022240,-0.061168,-0.013110,-0.008839,1.000000,-0.007899,-0.003683,-0.001968,-0.003410
X382,-0.038171,-0.159815,-0.010164,NaN,-0.024937,-0.021713,0.012713,-0.001908,-0.004480,1.000000,...,-0.059883,-0.021571,-0.059327,-0.012716,-0.008573,-0.007899,1.000000,-0.003572,-0.001908,-0.003307
X383,-0.009332,0.040291,-0.004740,NaN,-0.011628,-0.010125,0.023604,-0.000890,-0.002089,-0.003572,...,-0.015413,-0.010059,0.035107,-0.005930,-0.003998,-0.003683,-0.003572,1.000000,-0.000890,-0.001542
X384,-0.015355,-0.004591,-0.002532,NaN,-0.006212,0.041242,0.025199,-0.000475,-0.001116,-0.001908,...,-0.014917,-0.005373,0.008694,-0.003168,-0.002136,-0.001968,-0.001908,-0.000890,1.000000,-0.000824
X385,0.029059,-0.022280,-0.004387,NaN,-0.010765,-0.009373,0.043667,-0.000824,-0.001934,-0.003307,...,0.055225,-0.009311,-0.025610,-0.005489,-0.003701,-0.003410,-0.003307,-0.001542,-0.000824,1.000000

In [36]:
df['X11'].value_counts()

0    4209
Name: X11, dtype: int64

In [37]:
import numpy as np

In [38]:
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [39]:
df=pd.DataFrame(lst_data)

In [40]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [41]:
## HAndling Missing Values

##Drop nan values

df.dropna(axis=0)

     0    1    2
0  1.0  2.0  3.0

In [42]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [43]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])

In [44]:
df.head()

        one       two     three
a  0.880041  1.768849 -0.119101
c  0.203410  0.631321  1.856802
e  0.819052 -0.614702 -1.615993
f -0.317086 -0.840218  0.137782
h  0.552118 -1.728099 -1.197508

In [45]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [46]:
df2

        one       two     three
a  0.880041  1.768849 -0.119101
b       NaN       NaN       NaN
c  0.203410  0.631321  1.856802
d       NaN       NaN       NaN
e  0.819052 -0.614702 -1.615993
f -0.317086 -0.840218  0.137782
g       NaN       NaN       NaN
h  0.552118 -1.728099 -1.197508

In [47]:
df2.dropna(axis=0)

        one       two     three
a  0.880041  1.768849 -0.119101
c  0.203410  0.631321  1.856802
e  0.819052 -0.614702 -1.615993
f -0.317086 -0.840218  0.137782
h  0.552118 -1.728099 -1.197508

In [48]:
pd.isna(df2['one'])

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [49]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [50]:
df2.fillna('Missing')

        one       two     three
a  0.880041   1.76885 -0.119101
b   Missing   Missing   Missing
c   0.20341  0.631321    1.8568
d   Missing   Missing   Missing
e  0.819052 -0.614702  -1.61599
f -0.317086 -0.840218  0.137782
g   Missing   Missing   Missing
h  0.552118   -1.7281  -1.19751

In [51]:
df2['one'].values

array([ 0.88004069,         nan,  0.20340983,         nan,  0.81905182,
       -0.31708606,         nan,  0.55211839])

# Reading different data sources with the help of pandas

## CSV

In [52]:
from io import StringIO, BytesIO

In [53]:
data = ('col1,col2,col3\n'
            'x,y,1\n'
            'a,b,2\n'
            'c,d,3')

In [54]:
type(data)

str

In [55]:
StringIO()

In [56]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    a    b     2
2    c    d     3

In [57]:
## Read from specific columns
df=pd.read_csv(StringIO(data),usecols=['col1','col3'])
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [58]:
## Read from specific columns
df=pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ['COL1', 'COL3'])
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [59]:
df.to_csv('Test2.csv')

In [60]:
## Specifying columns data types

data = ('a,b,c,d\n'
            '1,2,3,4\n'
            '5,6,7,8\n'
            '9,10,11')
data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11'

In [61]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [62]:
df=pd.read_csv(StringIO(data),dtype=object)#bcoz all value are string

In [63]:
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [64]:
df=pd.read_csv(StringIO(data),dtype=float)
df

     a     b     c    d
0  1.0   2.0   3.0  4.0
1  5.0   6.0   7.0  8.0
2  9.0  10.0  11.0  NaN

In [65]:
df=pd.read_csv(StringIO(data),dtype=int)#eror show bcoz all df value are in string data type form.

ValueError: Integer column has NA values in column 3

In [66]:
df['a']

0    1.0
1    5.0
2    9.0
Name: a, dtype: float64

In [67]:
df['a'][1]

5.0

In [68]:
df=pd.read_csv(StringIO(data),dtype=object)
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [69]:
df=pd.read_csv(StringIO(data),dtype={'b':int,'c':np.float,'a':'Int64'})

In [70]:
df# c clm are  float ,a clm is int

   a   b     c    d
0  1   2   3.0  4.0
1  5   6   7.0  8.0
2  9  10  11.0  NaN

In [71]:
df['a'][1]

5

In [72]:
type(df['a'][1])

numpy.int64

In [73]:
## check the datatype
df.dtypes# all clm data types check

a      Int64
b      int32
c    float64
d    float64
dtype: object

In [74]:
## Index columns and training delimiters

In [75]:
data = ('index,a,b,c\n'
           '4,apple,bat,5.7\n'
            '8,orange,cow,10')

In [76]:
pd.read_csv(StringIO(data))

   index       a    b     c
0      4   apple  bat   5.7
1      8  orange  cow  10.0

In [77]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [78]:
pd.read_csv(StringIO(data),index_col=1)

        index    b     c
a
apple       4  bat   5.7
orange      8  cow  10.0

In [79]:
pd.read_csv(StringIO(data),index_col=3)

      index       a    b
c
5.7       4   apple  bat
10.0      8  orange  cow

In [80]:
 data = ('a,b,c\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [81]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [82]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [83]:
## Combining usecols and index_col
data = ('a,b,c,\n'
           '4,apple,bat,\n'
            '8,orange,cow,')

In [84]:
pd.read_csv(StringIO(data))

   a       b    c  Unnamed: 3
0  4   apple  bat         NaN
1  8  orange  cow         NaN

In [85]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=False)

        b    c
0   apple  bat
1  orange  cow

In [86]:
## Quoting and Escape Characters¶. Very useful in NLP

data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

In [87]:
pd.read_csv(StringIO(data),escapechar='\\')

                               a  b
0  hello, "Bob", nice to see you  5

In [88]:
## URL to CSV

df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')

In [89]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

# Read Json to CSV

In [90]:
Data ='{"employee_name": "James", "email": "james@gmail.com", "job_profile": [{"title1":"Team Lead", "title2":"Sr. Developer"}]}'
a=pd.read_json(Data)#json means key value pair.
a

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr. Develop..."

In [92]:
a.to_json()#convert json to different json formats

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr. Developer"}}}'

In [103]:
a.to_json(orient="records")

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr. Developer"}}]'

In [93]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

In [94]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.640000,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.680000,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.800000,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.320000,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.750000,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.250000,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.050000,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.200000,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.750000,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.600000,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.400000,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.500000,1.20,3.00,1547
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.300000,1.28,2.88,1310
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.200000,1.07,2.65,1280
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.600000,1.13,2.57,1130
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.700000,1.23,2.82,1680
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.100000,0.96,3.36,845
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.650000,1.09,3.71,780
21,1,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.500000,1.03,3.52,770
22,1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.800000,1.11,4.00,1035
23,1,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.930000,1.09,3.63,1015
24,1,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.520000,1.12,3.82,845
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.580000,1.13,3.20,830
26,1,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.800000,0.92,3.22,1195
27,1,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.950000,1.02,2.77,1285
28,1,13.87,1.90,2.80,19.4,107,2.95,2.97,0.37,1.76,4.500000,1.25,3.40,915
29,1,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.700000,1.04,3.59,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,3,13.32,3.24,2.38,21.5,92,1.93,0.76,0.45,1.25,8.420000,0.55,1.62,650
149,3,13.08,3.90,2.36,21.5,113,1.41,1.39,0.34,1.14,9.400000,0.57,1.33,550
150,3,13.50,3.12,2.62,24.0,123,1.40,1.57,0.22,1.25,8.600000,0.59,1.30,500
151,3,12.79,2.67,2.48,22.0,112,1.48,1.36,0.24,1.26,10.800000,0.48,1.47,480
152,3,13.11,1.90,2.75,25.5,116,2.20,1.28,0.26,1.56,7.100000,0.61,1.33,425
153,3,13.23,3.30,2.28,18.5,98,1.80,0.83,0.61,1.87,10.520000,0.56,1.51,675
154,3,12.58,1.29,2.10,20.0,103,1.48,0.58,0.53,1.40,7.600000,0.58,1.55,640
155,3,13.17,5.19,2.32,22.0,93,1.74,0.63,0.61,1.55,7.900000,0.60,1.48,725
156,3,13.84,4.12,2.38,19.5,89,1.80,0.83,0.48,1.56,9.010000,0.57,1.64,480
157,3,12.45,3.03,2.64,27.0,97,1.90,0.58,0.63,1.14,7.500000,0.67,1.73,880
158,3,14.34,1.68,2.70,25.0,98,2.80,1.31,0.53,2.70,13.000000,0.57,1.96,660
159,3,13.48,1.67,2.64,22.5,89,2.60,1.10,0.52,2.29,11.750000,0.57,1.78,620
160,3,12.36,3.83,2.38,21.0,88,2.30,0.92,0.50,1.04,7.650000,0.56,1.58,520
161,3,13.69,3.26,2.54,20.0,107,1.83,0.56,0.50,0.80,5.880000,0.96,1.82,680
162,3,12.85,3.27,2.58,22.0,106,1.65,0.60,0.60,0.96,5.580000,0.87,2.11,570
163,3,12.96,3.45,2.35,18.5,106,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675
164,3,13.78,2.76,2.30,22.0,90,1.35,0.68,0.41,1.03,9.580000,0.70,1.68,615
165,3,13.73,4.36,2.26,22.5,88,1.28,0.47,0.52,1.15,6.620000,0.78,1.75,520
166,3,13.45,3.70,2.60,23.0,111,1.70,0.92,0.43,1.46,10.680000,0.85,1.56,695
167,3,12.82,3.37,2.30,19.5,88,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685
168,3,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.660000,0.74,1.80,750
169,3,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630
170,3,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510
171,3,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470
172,3,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.300000,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560

In [95]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

# convert Json to csv

In [96]:
df.to_csv('wine.csv')
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.640000,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.680000,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.800000,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.320000,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.750000,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.250000,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.050000,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.200000,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.750000,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.600000,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.400000,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.500000,1.20,3.00,1547
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.300000,1.28,2.88,1310
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.200000,1.07,2.65,1280
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.600000,1.13,2.57,1130
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.700000,1.23,2.82,1680
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.100000,0.96,3.36,845
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.650000,1.09,3.71,780
21,1,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.500000,1.03,3.52,770
22,1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.800000,1.11,4.00,1035
23,1,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.930000,1.09,3.63,1015
24,1,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.520000,1.12,3.82,845
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.580000,1.13,3.20,830
26,1,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.800000,0.92,3.22,1195
27,1,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.950000,1.02,2.77,1285
28,1,13.87,1.90,2.80,19.4,107,2.95,2.97,0.37,1.76,4.500000,1.25,3.40,915
29,1,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.700000,1.04,3.59,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,3,13.32,3.24,2.38,21.5,92,1.93,0.76,0.45,1.25,8.420000,0.55,1.62,650
149,3,13.08,3.90,2.36,21.5,113,1.41,1.39,0.34,1.14,9.400000,0.57,1.33,550
150,3,13.50,3.12,2.62,24.0,123,1.40,1.57,0.22,1.25,8.600000,0.59,1.30,500
151,3,12.79,2.67,2.48,22.0,112,1.48,1.36,0.24,1.26,10.800000,0.48,1.47,480
152,3,13.11,1.90,2.75,25.5,116,2.20,1.28,0.26,1.56,7.100000,0.61,1.33,425
153,3,13.23,3.30,2.28,18.5,98,1.80,0.83,0.61,1.87,10.520000,0.56,1.51,675
154,3,12.58,1.29,2.10,20.0,103,1.48,0.58,0.53,1.40,7.600000,0.58,1.55,640
155,3,13.17,5.19,2.32,22.0,93,1.74,0.63,0.61,1.55,7.900000,0.60,1.48,725
156,3,13.84,4.12,2.38,19.5,89,1.80,0.83,0.48,1.56,9.010000,0.57,1.64,480
157,3,12.45,3.03,2.64,27.0,97,1.90,0.58,0.63,1.14,7.500000,0.67,1.73,880
158,3,14.34,1.68,2.70,25.0,98,2.80,1.31,0.53,2.70,13.000000,0.57,1.96,660
159,3,13.48,1.67,2.64,22.5,89,2.60,1.10,0.52,2.29,11.750000,0.57,1.78,620
160,3,12.36,3.83,2.38,21.0,88,2.30,0.92,0.50,1.04,7.650000,0.56,1.58,520
161,3,13.69,3.26,2.54,20.0,107,1.83,0.56,0.50,0.80,5.880000,0.96,1.82,680
162,3,12.85,3.27,2.58,22.0,106,1.65,0.60,0.60,0.96,5.580000,0.87,2.11,570
163,3,12.96,3.45,2.35,18.5,106,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675
164,3,13.78,2.76,2.30,22.0,90,1.35,0.68,0.41,1.03,9.580000,0.70,1.68,615
165,3,13.73,4.36,2.26,22.5,88,1.28,0.47,0.52,1.15,6.620000,0.78,1.75,520
166,3,13.45,3.70,2.60,23.0,111,1.70,0.92,0.43,1.46,10.680000,0.85,1.56,695
167,3,12.82,3.37,2.30,19.5,88,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685
168,3,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.660000,0.74,1.80,750
169,3,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630
170,3,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510
171,3,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470
172,3,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.300000,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560

In [104]:
df.to_json()

'{"0":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":1,"7":1,"8":1,"9":1,"10":1,"11":1,"12":1,"13":1,"14":1,"15":1,"16":1,"17":1,"18":1,"19":1,"20":1,"21":1,"22":1,"23":1,"24":1,"25":1,"26":1,"27":1,"28":1,"29":1,"30":1,"31":1,"32":1,"33":1,"34":1,"35":1,"36":1,"37":1,"38":1,"39":1,"40":1,"41":1,"42":1,"43":1,"44":1,"45":1,"46":1,"47":1,"48":1,"49":1,"50":1,"51":1,"52":1,"53":1,"54":1,"55":1,"56":1,"57":1,"58":1,"59":2,"60":2,"61":2,"62":2,"63":2,"64":2,"65":2,"66":2,"67":2,"68":2,"69":2,"70":2,"71":2,"72":2,"73":2,"74":2,"75":2,"76":2,"77":2,"78":2,"79":2,"80":2,"81":2,"82":2,"83":2,"84":2,"85":2,"86":2,"87":2,"88":2,"89":2,"90":2,"91":2,"92":2,"93":2,"94":2,"95":2,"96":2,"97":2,"98":2,"99":2,"100":2,"101":2,"102":2,"103":2,"104":2,"105":2,"106":2,"107":2,"108":2,"109":2,"110":2,"111":2,"112":2,"113":2,"114":2,"115":2,"116":2,"117":2,"118":2,"119":2,"120":2,"121":2,"122":2,"123":2,"124":2,"125":2,"126":2,"127":2,"128":2,"129":2,"130":3,"131":3,"132":3,"133":3,"134":3,"135":3,"136":3,"137":3,"138":3,"139":3,"140":3,"141":3,"142":3,"143":3,"144":3,"145":3,"146":3,"147":3,"148":3,"149":3,"150":3,"151":3,"152":3,"153":3,"154":3,"155":3,"156":3,"157":3,"158":3,"159":3,"160":3,"161":3,"162":3,"163":3,"164":3,"165":3,"166":3,"167":3,"168":3,"169":3,"170":3,"171":3,"172":3,"173":3,"174":3,"175":3,"176":3,"177":3},"1":{"0":14.23,"1":13.2,"2":13.16,"3":14.37,"4":13.24,"5":14.2,"6":14.39,"7":14.06,"8":14.83,"9":13.86,"10":14.1,"11":14.12,"12":13.75,"13":14.75,"14":14.38,"15":13.63,"16":14.3,"17":13.83,"18":14.19,"19":13.64,"20":14.06,"21":12.93,"22":13.71,"23":12.85,"24":13.5,"25":13.05,"26":13.39,"27":13.3,"28":13.87,"29":14.02,"30":13.73,"31":13.58,"32":13.68,"33":13.76,"34":13.51,"35":13.48,"36":13.28,"37":13.05,"38":13.07,"39":14.22,"40":13.56,"41":13.41,"42":13.88,"43":13.24,"44":13.05,"45":14.21,"46":14.38,"47":13.9,"48":14.1,"49":13.94,"50":13.05,"51":13.83,"52":13.82,"53":13.77,"54":13.74,"55":13.56,"56":14.22,"57":13.29,"58":13.72,"59":12.37,"60":12.33,"61":12.64,"62":13.67,"63":12.37,"64":12.17,"65":12.37,"66":13.11,"67":12.37,"68":13.34,"69":12.21,"70":12.29,"71":13.86,"72":13.49,"73":12.99,"74":11.96,"75":11.66,"76":13.03,"77":11.84,"78":12.33,"79":12.7,"80":12.0,"81":12.72,"82":12.08,"83":13.05,"84":11.84,"85":12.67,"86":12.16,"87":11.65,"88":11.64,"89":12.08,"90":12.08,"91":12.0,"92":12.69,"93":12.29,"94":11.62,"95":12.47,"96":11.81,"97":12.29,"98":12.37,"99":12.29,"100":12.08,"101":12.6,"102":12.34,"103":11.82,"104":12.51,"105":12.42,"106":12.25,"107":12.72,"108":12.22,"109":11.61,"110":11.46,"111":12.52,"112":11.76,"113":11.41,"114":12.08,"115":11.03,"116":11.82,"117":12.42,"118":12.77,"119":12.0,"120":11.45,"121":11.56,"122":12.42,"123":13.05,"124":11.87,"125":12.07,"126":12.43,"127":11.79,"128":12.37,"129":12.04,"130":12.86,"131":12.88,"132":12.81,"133":12.7,"134":12.51,"135":12.6,"136":12.25,"137":12.53,"138":13.49,"139":12.84,"140":12.93,"141":13.36,"142":13.52,"143":13.62,"144":12.25,"145":13.16,"146":13.88,"147":12.87,"148":13.32,"149":13.08,"150":13.5,"151":12.79,"152":13.11,"153":13.23,"154":12.58,"155":13.17,"156":13.84,"157":12.45,"158":14.34,"159":13.48,"160":12.36,"161":13.69,"162":12.85,"163":12.96,"164":13.78,"165":13.73,"166":13.45,"167":12.82,"168":13.58,"169":13.4,"170":12.2,"171":12.77,"172":14.16,"173":13.71,"174":13.4,"175":13.27,"176":13.17,"177":14.13},"2":{"0":1.71,"1":1.78,"2":2.36,"3":1.95,"4":2.59,"5":1.76,"6":1.87,"7":2.15,"8":1.64,"9":1.35,"10":2.16,"11":1.48,"12":1.73,"13":1.73,"14":1.87,"15":1.81,"16":1.92,"17":1.57,"18":1.59,"19":3.1,"20":1.63,"21":3.8,"22":1.86,"23":1.6,"24":1.81,"25":2.05,"26":1.77,"27":1.72,"28":1.9,"29":1.68,"30":1.5,"31":1.66,"32":1.83,"33":1.53,"34":1.8,"35":1.81,"36":1.64,"37":1.65,"38":1.5,"39":3.99,"40":1.71,"41":3.84,"42":1.89,"43":3.98,"44":1.77,"45":4.04,"46":3.59,"47":1.68,"48":2.02,"49":1.73,"50":1.73,"51":1.65,"52":1.75,"53":1.9,"54":1.67,"55":1.73,"56":1.7,"57":1.97,"58":1.43,"59":0.94,"60":1.1,"61":1.36,"62":1.25,"63":1.13,"64":1.45,"65":1.21,"66":1.01,"67":1.17,"68":0.94,"69":1.19,"70":1.61,"71":1.51,"72":1.66,"73":1.67,"74":1.09,"75":1.88,"76":0.9,"77":2.89,"78":0.99,"79":3.87,"80":0.92,"81":1.81,"82":1.13,"83":3.86,"84":0.89,"85":0.98,"86":1.61,"87":1.67,"88":2.06,"89":1.33,"90":1.83,"91":1.51,"92":1.53,"93":2.83,"94":1.99,"95":1.52,"96":2.12,"97":1.41,"98":1.07,"99":3.17,"100":2.08,"101":1.34,"102":2.45,"103":1.72,"104":1.73,"105":2.55,"106":1.73,"107":1.75,"108":1.29,"109":1.35,"110":3.74,"111":2.43,"112":2.68,"113":0.74,"114":1.39,"115":1.51,"116":1.47,"117":1.61,"118":3.43,"119":3.43,"120":2.4,"121":2.05,"122":4.43,"123":5.8,"124":4.31,"125":2.16,"126":1.53,"127":2.13,"128":1.63,"129":4.3,"130":1.35,"131":2.99,"132":2.31,"133":3.55,"134":1.24,"135":2.46,"136":4.72,"137":5.51,"138":3.59,"139":2.96,"140":2.81,"141":2.56,"142":3.17,"143":4.95,"144":3.88,"145":3.57,"146":5.04,"147":4.61,"148":3.24,"149":3.9,"150":3.12,"151":2.67,"152":1.9,"153":3.3,"154":1.29,"155":5.19,"156":4.12,"157":3.03,"158":1.68,"159":1.67,"160":3.83,"161":3.26,"162":3.27,"163":3.45,"164":2.76,"165":4.36,"166":3.7,"167":3.37,"168":2.58,"169":4.6,"170":3.03,"171":2.39,"172":2.51,"173":5.65,"174":3.91,"175":4.28,"176":2.59,"177":4.1},"3":{"0":2.43,"1":2.14,"2":2.67,"3":2.5,"4":2.87,"5":2.45,"6":2.45,"7":2.61,"8":2.17,"9":2.27,"10":2.3,"11":2.32,"12":2.41,"13":2.39,"14":2.38,"15":2.7,"16":2.72,"17":2.62,"18":2.48,"19":2.56,"20":2.28,"21":2.65,"22":2.36,"23":2.52,"24":2.61,"25":3.22,"26":2.62,"27":2.14,"28":2.8,"29":2.21,"30":2.7,"31":2.36,"32":2.36,"33":2.7,"34":2.65,"35":2.41,"36":2.84,"37":2.55,"38":2.1,"39":2.51,"40":2.31,"41":2.12,"42":2.59,"43":2.29,"44":2.1,"45":2.44,"46":2.28,"47":2.12,"48":2.4,"49":2.27,"50":2.04,"51":2.6,"52":2.42,"53":2.68,"54":2.25,"55":2.46,"56":2.3,"57":2.68,"58":2.5,"59":1.36,"60":2.28,"61":2.02,"62":1.92,"63":2.16,"64":2.53,"65":2.56,"66":1.7,"67":1.92,"68":2.36,"69":1.75,"70":2.21,"71":2.67,"72":2.24,"73":2.6,"74":2.3,"75":1.92,"76":1.71,"77":2.23,"78":1.95,"79":2.4,"80":2.0,"81":2.2,"82":2.51,"83":2.32,"84":2.58,"85":2.24,"86":2.31,"87":2.62,"88":2.46,"89":2.3,"90":2.32,"91":2.42,"92":2.26,"93":2.22,"94":2.28,"95":2.2,"96":2.74,"97":1.98,"98":2.1,"99":2.21,"100":1.7,"101":1.9,"102":2.46,"103":1.88,"104":1.98,"105":2.27,"106":2.12,"107":2.28,"108":1.94,"109":2.7,"110":1.82,"111":2.17,"112":2.92,"113":2.5,"114":2.5,"115":2.2,"116":1.99,"117":2.19,"118":1.98,"119":2.0,"120":2.42,"121":3.23,"122":2.73,"123":2.13,"124":2.39,"125":2.17,"126":2.29,"127":2.78,"128":2.3,"129":2.38,"130":2.32,"131":2.4,"132":2.4,"133":2.36,"134":2.25,"135":2.2,"136":2.54,"137":2.64,"138":2.19,"139":2.61,"140":2.7,"141":2.35,"142":2.72,"143":2.35,"144":2.2,"145":2.15,"146":2.23,"147":2.48,"148":2.38,"149":2.36,"150":2.62,"151":2.48,"152":2.75,"153":2.28,"154":2.1,"155":2.32,"156":2.38,"157":2.64,"158":2.7,"159":2.64,"160":2.38,"161":2.54,"162":2.58,"163":2.35,"164":2.3,"165":2.26,"166":2.6,"167":2.3,"168":2.69,"169":2.86,"170":2.32,"171":2.28,"172":2.48,"173":2.45,"174":2.48,"175":2.26,"176":2.37,"177":2.74},"4":{"0":15.6,"1":11.2,"2":18.6,"3":16.8,"4":21.0,"5":15.2,"6":14.6,"7":17.6,"8":14.0,"9":16.0,"10":18.0,"11":16.8,"12":16.0,"13":11.4,"14":12.0,"15":17.2,"16":20.0,"17":20.0,"18":16.5,"19":15.2,"20":16.0,"21":18.6,"22":16.6,"23":17.8,"24":20.0,"25":25.0,"26":16.1,"27":17.0,"28":19.4,"29":16.0,"30":22.5,"31":19.1,"32":17.2,"33":19.5,"34":19.0,"35":20.5,"36":15.5,"37":18.0,"38":15.5,"39":13.2,"40":16.2,"41":18.8,"42":15.0,"43":17.5,"44":17.0,"45":18.9,"46":16.0,"47":16.0,"48":18.8,"49":17.4,"50":12.4,"51":17.2,"52":14.0,"53":17.1,"54":16.4,"55":20.5,"56":16.3,"57":16.8,"58":16.7,"59":10.6,"60":16.0,"61":16.8,"62":18.0,"63":19.0,"64":19.0,"65":18.1,"66":15.0,"67":19.6,"68":17.0,"69":16.8,"70":20.4,"71":25.0,"72":24.0,"73":30.0,"74":21.0,"75":16.0,"76":16.0,"77":18.0,"78":14.8,"79":23.0,"80":19.0,"81":18.8,"82":24.0,"83":22.5,"84":18.0,"85":18.0,"86":22.8,"87":26.0,"88":21.6,"89":23.6,"90":18.5,"91":22.0,"92":20.7,"93":18.0,"94":18.0,"95":19.0,"96":21.5,"97":16.0,"98":18.5,"99":18.0,"100":17.5,"101":18.5,"102":21.0,"103":19.5,"104":20.5,"105":22.0,"106":19.0,"107":22.5,"108":19.0,"109":20.0,"110":19.5,"111":21.0,"112":20.0,"113":21.0,"114":22.5,"115":21.5,"116":20.8,"117":22.5,"118":16.0,"119":19.0,"120":20.0,"121":28.5,"122":26.5,"123":21.5,"124":21.0,"125":21.0,"126":21.5,"127":28.5,"128":24.5,"129":22.0,"130":18.0,"131":20.0,"132":24.0,"133":21.5,"134":17.5,"135":18.5,"136":21.0,"137":25.0,"138":19.5,"139":24.0,"140":21.0,"141":20.0,"142":23.5,"143":20.0,"144":18.5,"145":21.0,"146":20.0,"147":21.5,"148":21.5,"149":21.5,"150":24.0,"151":22.0,"152":25.5,"153":18.5,"154":20.0,"155":22.0,"156":19.5,"157":27.0,"158":25.0,"159":22.5,"160":21.0,"161":20.0,"162":22.0,"163":18.5,"164":22.0,"165":22.5,"166":23.0,"167":19.5,"168":24.5,"169":25.0,"170":19.0,"171":19.5,"172":20.0,"173":20.5,"174":23.0,"175":20.0,"176":20.0,"177":24.5},"5":{"0":127,"1":100,"2":101,"3":113,"4":118,"5":112,"6":96,"7":121,"8":97,"9":98,"10":105,"11":95,"12":89,"13":91,"14":102,"15":112,"16":120,"17":115,"18":108,"19":116,"20":126,"21":102,"22":101,"23":95,"24":96,"25":124,"26":93,"27":94,"28":107,"29":96,"30":101,"31":106,"32":104,"33":132,"34":110,"35":100,"36":110,"37":98,"38":98,"39":128,"40":117,"41":90,"42":101,"43":103,"44":107,"45":111,"46":102,"47":101,"48":103,"49":108,"50":92,"51":94,"52":111,"53":115,"54":118,"55":116,"56":118,"57":102,"58":108,"59":88,"60":101,"61":100,"62":94,"63":87,"64":104,"65":98,"66":78,"67":78,"68":110,"69":151,"70":103,"71":86,"72":87,"73":139,"74":101,"75":97,"76":86,"77":112,"78":136,"79":101,"80":86,"81":86,"82":78,"83":85,"84":94,"85":99,"86":90,"87":88,"88":84,"89":70,"90":81,"91":86,"92":80,"93":88,"94":98,"95":162,"96":134,"97":85,"98":88,"99":88,"100":97,"101":88,"102":98,"103":86,"104":85,"105":90,"106":80,"107":84,"108":92,"109":94,"110":107,"111":88,"112":103,"113":88,"114":84,"115":85,"116":86,"117":108,"118":80,"119":87,"120":96,"121":119,"122":102,"123":86,"124":82,"125":85,"126":86,"127":92,"128":88,"129":80,"130":122,"131":104,"132":98,"133":106,"134":85,"135":94,"136":89,"137":96,"138":88,"139":101,"140":96,"141":89,"142":97,"143":92,"144":112,"145":102,"146":80,"147":86,"148":92,"149":113,"150":123,"151":112,"152":116,"153":98,"154":103,"155":93,"156":89,"157":97,"158":98,"159":89,"160":88,"161":107,"162":106,"163":106,"164":90,"165":88,"166":111,"167":88,"168":105,"169":112,"170":96,"171":86,"172":91,"173":95,"174":102,"175":120,"176":120,"177":96},"6":{"0":2.8,"1":2.65,"2":2.8,"3":3.85,"4":2.8,"5":3.27,"6":2.5,"7":2.6,"8":2.8,"9":2.98,"10":2.95,"11":2.2,"12":2.6,"13":3.1,"14":3.3,"15":2.85,"16":2.8,"17":2.95,"18":3.3,"19":2.7,"20":3.0,"21":2.41,"22":2.61,"23":2.48,"24":2.53,"25":2.63,"26":2.85,"27":2.4,"28":2.95,"29":2.65,"30":3.0,"31":2.86,"32":2.42,"33":2.95,"34":2.35,"35":2.7,"36":2.6,"37":2.45,"38":2.4,"39":3.0,"40":3.15,"41":2.45,"42":3.25,"43":2.64,"44":3.0,"45":2.85,"46":3.25,"47":3.1,"48":2.75,"49":2.88,"50":2.72,"51":2.45,"52":3.88,"53":3.0,"54":2.6,"55":2.96,"56":3.2,"57":3.0,"58":3.4,"59":1.98,"60":2.05,"61":2.02,"62":2.1,"63":3.5,"64":1.89,"65":2.42,"66":2.98,"67":2.11,"68":2.53,"69":1.85,"70":1.1,"71":2.95,"72":1.88,"73":3.3,"74":3.38,"75":1.61,"76":1.95,"77":1.72,"78":1.9,"79":2.83,"80":2.42,"81":2.2,"82":2.0,"83":1.65,"84":2.2,"85":2.2,"86":1.78,"87":1.92,"88":1.95,"89":2.2,"90":1.6,"91":1.45,"92":1.38,"93":2.45,"94":3.02,"95":2.5,"96":1.6,"97":2.55,"98":3.52,"99":2.85,"100":2.23,"101":1.45,"102":2.56,"103":2.5,"104":2.2,"105":1.68,"106":1.65,"107":1.38,"108":2.36,"109":2.74,"110":3.18,"111":2.55,"112":1.75,"113":2.48,"114":2.56,"115":2.46,"116":1.98,"117":2.0,"118":1.63,"119":2.0,"120":2.9,"121":3.18,"122":2.2,"123":2.62,"124":2.86,"125":2.6,"126":2.74,"127":2.13,"128":2.22,"129":2.1,"130":1.51,"131":1.3,"132":1.15,"133":1.7,"134":2.0,"135":1.62,"136":1.38,"137":1.79,"138":1.62,"139":2.32,"140":1.54,"141":1.4,"142":1.55,"143":2.0,"144":1.38,"145":1.5,"146":0.98,"147":1.7,"148":1.93,"149":1.41,"150":1.4,"151":1.48,"152":2.2,"153":1.8,"154":1.48,"155":1.74,"156":1.8,"157":1.9,"158":2.8,"159":2.6,"160":2.3,"161":1.83,"162":1.65,"163":1.39,"164":1.35,"165":1.28,"166":1.7,"167":1.48,"168":1.55,"169":1.98,"170":1.25,"171":1.39,"172":1.68,"173":1.68,"174":1.8,"175":1.59,"176":1.65,"177":2.05},"7":{"0":3.06,"1":2.76,"2":3.24,"3":3.49,"4":2.69,"5":3.39,"6":2.52,"7":2.51,"8":2.98,"9":3.15,"10":3.32,"11":2.43,"12":2.76,"13":3.69,"14":3.64,"15":2.91,"16":3.14,"17":3.4,"18":3.93,"19":3.03,"20":3.17,"21":2.41,"22":2.88,"23":2.37,"24":2.61,"25":2.68,"26":2.94,"27":2.19,"28":2.97,"29":2.33,"30":3.25,"31":3.19,"32":2.69,"33":2.74,"34":2.53,"35":2.98,"36":2.68,"37":2.43,"38":2.64,"39":3.04,"40":3.29,"41":2.68,"42":3.56,"43":2.63,"44":3.0,"45":2.65,"46":3.17,"47":3.39,"48":2.92,"49":3.54,"50":3.27,"51":2.99,"52":3.74,"53":2.79,"54":2.9,"55":2.78,"56":3.0,"57":3.23,"58":3.67,"59":0.57,"60":1.09,"61":1.41,"62":1.79,"63":3.1,"64":1.75,"65":2.65,"66":3.18,"67":2.0,"68":1.3,"69":1.28,"70":1.02,"71":2.86,"72":1.84,"73":2.89,"74":2.14,"75":1.57,"76":2.03,"77":1.32,"78":1.85,"79":2.55,"80":2.26,"81":2.53,"82":1.58,"83":1.59,"84":2.21,"85":1.94,"86":1.69,"87":1.61,"88":1.69,"89":1.59,"90":1.5,"91":1.25,"92":1.46,"93":2.25,"94":2.26,"95":2.27,"96":0.99,"97":2.5,"98":3.75,"99":2.99,"100":2.17,"101":1.36,"102":2.11,"103":1.64,"104":1.92,"105":1.84,"106":2.03,"107":1.76,"108":2.04,"109":2.92,"110":2.58,"111":2.27,"112":2.03,"113":2.01,"114":2.29,"115":2.17,"116":1.6,"117":2.09,"118":1.25,"119":1.64,"120":2.79,"121":5.08,"122":2.13,"123":2.65,"124":3.03,"125":2.65,"126":3.15,"127":2.24,"128":2.45,"129":1.75,"130":1.25,"131":1.22,"132":1.09,"133":1.2,"134":0.58,"135":0.66,"136":0.47,"137":0.6,"138":0.48,"139":0.6,"140":0.5,"141":0.5,"142":0.52,"143":0.8,"144":0.78,"145":0.55,"146":0.34,"147":0.65,"148":0.76,"149":1.39,"150":1.57,"151":1.36,"152":1.28,"153":0.83,"154":0.58,"155":0.63,"156":0.83,"157":0.58,"158":1.31,"159":1.1,"160":0.92,"161":0.56,"162":0.6,"163":0.7,"164":0.68,"165":0.47,"166":0.92,"167":0.66,"168":0.84,"169":0.96,"170":0.49,"171":0.51,"172":0.7,"173":0.61,"174":0.75,"175":0.69,"176":0.68,"177":0.76},"8":{"0":0.28,"1":0.26,"2":0.3,"3":0.24,"4":0.39,"5":0.34,"6":0.3,"7":0.31,"8":0.29,"9":0.22,"10":0.22,"11":0.26,"12":0.29,"13":0.43,"14":0.29,"15":0.3,"16":0.33,"17":0.4,"18":0.32,"19":0.17,"20":0.24,"21":0.25,"22":0.27,"23":0.26,"24":0.28,"25":0.47,"26":0.34,"27":0.27,"28":0.37,"29":0.26,"30":0.29,"31":0.22,"32":0.42,"33":0.5,"34":0.29,"35":0.26,"36":0.34,"37":0.29,"38":0.28,"39":0.2,"40":0.34,"41":0.27,"42":0.17,"43":0.32,"44":0.28,"45":0.3,"46":0.27,"47":0.21,"48":0.32,"49":0.32,"50":0.17,"51":0.22,"52":0.32,"53":0.39,"54":0.21,"55":0.2,"56":0.26,"57":0.31,"58":0.19,"59":0.28,"60":0.63,"61":0.53,"62":0.32,"63":0.19,"64":0.45,"65":0.37,"66":0.26,"67":0.27,"68":0.55,"69":0.14,"70":0.37,"71":0.21,"72":0.27,"73":0.21,"74":0.13,"75":0.34,"76":0.24,"77":0.43,"78":0.35,"79":0.43,"80":0.3,"81":0.26,"82":0.4,"83":0.61,"84":0.22,"85":0.3,"86":0.43,"87":0.4,"88":0.48,"89":0.42,"90":0.52,"91":0.5,"92":0.58,"93":0.25,"94":0.17,"95":0.32,"96":0.14,"97":0.29,"98":0.24,"99":0.45,"100":0.26,"101":0.29,"102":0.34,"103":0.37,"104":0.32,"105":0.66,"106":0.37,"107":0.48,"108":0.39,"109":0.29,"110":0.24,"111":0.26,"112":0.6,"113":0.42,"114":0.43,"115":0.52,"116":0.3,"117":0.34,"118":0.43,"119":0.37,"120":0.32,"121":0.47,"122":0.43,"123":0.3,"124":0.21,"125":0.37,"126":0.39,"127":0.58,"128":0.4,"129":0.42,"130":0.21,"131":0.24,"132":0.27,"133":0.17,"134":0.6,"135":0.63,"136":0.53,"137":0.63,"138":0.58,"139":0.53,"140":0.53,"141":0.37,"142":0.5,"143":0.47,"144":0.29,"145":0.43,"146":0.4,"147":0.47,"148":0.45,"149":0.34,"150":0.22,"151":0.24,"152":0.26,"153":0.61,"154":0.53,"155":0.61,"156":0.48,"157":0.63,"158":0.53,"159":0.52,"160":0.5,"161":0.5,"162":0.6,"163":0.4,"164":0.41,"165":0.52,"166":0.43,"167":0.4,"168":0.39,"169":0.27,"170":0.4,"171":0.48,"172":0.44,"173":0.52,"174":0.43,"175":0.43,"176":0.53,"177":0.56},"9":{"0":2.29,"1":1.28,"2":2.81,"3":2.18,"4":1.82,"5":1.97,"6":1.98,"7":1.25,"8":1.98,"9":1.85,"10":2.38,"11":1.57,"12":1.81,"13":2.81,"14":2.96,"15":1.46,"16":1.97,"17":1.72,"18":1.86,"19":1.66,"20":2.1,"21":1.98,"22":1.69,"23":1.46,"24":1.66,"25":1.92,"26":1.45,"27":1.35,"28":1.76,"29":1.98,"30":2.38,"31":1.95,"32":1.97,"33":1.35,"34":1.54,"35":1.86,"36":1.36,"37":1.44,"38":1.37,"39":2.08,"40":2.34,"41":1.48,"42":1.7,"43":1.66,"44":2.03,"45":1.25,"46":2.19,"47":2.14,"48":2.38,"49":2.08,"50":2.91,"51":2.29,"52":1.87,"53":1.68,"54":1.62,"55":2.45,"56":2.03,"57":1.66,"58":2.04,"59":0.42,"60":0.41,"61":0.62,"62":0.73,"63":1.87,"64":1.03,"65":2.08,"66":2.28,"67":1.04,"68":0.42,"69":2.5,"70":1.46,"71":1.87,"72":1.03,"73":1.96,"74":1.65,"75":1.15,"76":1.46,"77":0.95,"78":2.76,"79":1.95,"80":1.43,"81":1.77,"82":1.4,"83":1.62,"84":2.35,"85":1.46,"86":1.56,"87":1.34,"88":1.35,"89":1.38,"90":1.64,"91":1.63,"92":1.62,"93":1.99,"94":1.35,"95":3.28,"96":1.56,"97":1.77,"98":1.95,"99":2.81,"100":1.4,"101":1.35,"102":1.31,"103":1.42,"104":1.48,"105":1.42,"106":1.63,"107":1.63,"108":2.08,"109":2.49,"110":3.58,"111":1.22,"112":1.05,"113":1.44,"114":1.04,"115":2.01,"116":1.53,"117":1.61,"118":0.83,"119":1.87,"120":1.83,"121":1.87,"122":1.71,"123":2.01,"124":2.91,"125":1.35,"126":1.77,"127":1.76,"128":1.9,"129":1.35,"130":0.94,"131":0.83,"132":0.83,"133":0.84,"134":1.25,"135":0.94,"136":0.8,"137":1.1,"138":0.88,"139":0.81,"140":0.75,"141":0.64,"142":0.55,"143":1.02,"144":1.14,"145":1.3,"146":0.68,"147":0.86,"148":1.25,"149":1.14,"150":1.25,"151":1.26,"152":1.56,"153":1.87,"154":1.4,"155":1.55,"156":1.56,"157":1.14,"158":2.7,"159":2.29,"160":1.04,"161":0.8,"162":0.96,"163":0.94,"164":1.03,"165":1.15,"166":1.46,"167":0.97,"168":1.54,"169":1.11,"170":0.73,"171":0.64,"172":1.24,"173":1.06,"174":1.41,"175":1.35,"176":1.46,"177":1.35},"10":{"0":5.64,"1":4.38,"2":5.68,"3":7.8,"4":4.32,"5":6.75,"6":5.25,"7":5.05,"8":5.2,"9":7.22,"10":5.75,"11":5.0,"12":5.6,"13":5.4,"14":7.5,"15":7.3,"16":6.2,"17":6.6,"18":8.7,"19":5.1,"20":5.65,"21":4.5,"22":3.8,"23":3.93,"24":3.52,"25":3.58,"26":4.8,"27":3.95,"28":4.5,"29":4.7,"30":5.7,"31":6.9,"32":3.84,"33":5.4,"34":4.2,"35":5.1,"36":4.6,"37":4.25,"38":3.7,"39":5.1,"40":6.13,"41":4.28,"42":5.43,"43":4.36,"44":5.04,"45":5.24,"46":4.9,"47":6.1,"48":6.2,"49":8.9,"50":7.2,"51":5.6,"52":7.05,"53":6.3,"54":5.85,"55":6.25,"56":6.38,"57":6.0,"58":6.8,"59":1.95,"60":3.27,"61":5.75,"62":3.8,"63":4.45,"64":2.95,"65":4.6,"66":5.3,"67":4.68,"68":3.17,"69":2.85,"70":3.05,"71":3.38,"72":3.74,"73":3.35,"74":3.21,"75":3.8,"76":4.6,"77":2.65,"78":3.4,"79":2.57,"80":2.5,"81":3.9,"82":2.2,"83":4.8,"84":3.05,"85":2.62,"86":2.45,"87":2.6,"88":2.8,"89":1.74,"90":2.4,"91":3.6,"92":3.05,"93":2.15,"94":3.25,"95":2.6,"96":2.5,"97":2.9,"98":4.5,"99":2.3,"100":3.3,"101":2.45,"102":2.8,"103":2.06,"104":2.94,"105":2.7,"106":3.4,"107":3.3,"108":2.7,"109":2.65,"110":2.9,"111":2.0,"112":3.8,"113":3.08,"114":2.9,"115":1.9,"116":1.95,"117":2.06,"118":3.4,"119":1.28,"120":3.25,"121":6.0,"122":2.08,"123":2.6,"124":2.8,"125":2.76,"126":3.94,"127":3.0,"128":2.12,"129":2.6,"130":4.1,"131":5.4,"132":5.7,"133":5.0,"134":5.45,"135":7.1,"136":3.85,"137":5.0,"138":5.7,"139":4.92,"140":4.6,"141":5.6,"142":4.35,"143":4.4,"144":8.21,"145":4.0,"146":4.9,"147":7.65,"148":8.42,"149":9.4,"150":8.6,"151":10.8,"152":7.1,"153":10.52,"154":7.6,"155":7.9,"156":9.01,"157":7.5,"158":13.0,"159":11.75,"160":7.65,"161":5.88,"162":5.58,"163":5.28,"164":9.58,"165":6.62,"166":10.68,"167":10.26,"168":8.66,"169":8.5,"170":5.5,"171":9.899999,"172":9.7,"173":7.7,"174":7.3,"175":10.2,"176":9.3,"177":9.2},"11":{"0":1.04,"1":1.05,"2":1.03,"3":0.86,"4":1.04,"5":1.05,"6":1.02,"7":1.06,"8":1.08,"9":1.01,"10":1.25,"11":1.17,"12":1.15,"13":1.25,"14":1.2,"15":1.28,"16":1.07,"17":1.13,"18":1.23,"19":0.96,"20":1.09,"21":1.03,"22":1.11,"23":1.09,"24":1.12,"25":1.13,"26":0.92,"27":1.02,"28":1.25,"29":1.04,"30":1.19,"31":1.09,"32":1.23,"33":1.25,"34":1.1,"35":1.04,"36":1.09,"37":1.12,"38":1.18,"39":0.89,"40":0.95,"41":0.91,"42":0.88,"43":0.82,"44":0.88,"45":0.87,"46":1.04,"47":0.91,"48":1.07,"49":1.12,"50":1.12,"51":1.24,"52":1.

In [105]:
# convert Json to different json formats#csv convert into json
df.to_json(orient="records")

'[{"0":1,"1":14.23,"2":1.71,"3":2.43,"4":15.6,"5":127,"6":2.8,"7":3.06,"8":0.28,"9":2.29,"10":5.64,"11":1.04,"12":3.92,"13":1065},{"0":1,"1":13.2,"2":1.78,"3":2.14,"4":11.2,"5":100,"6":2.65,"7":2.76,"8":0.26,"9":1.28,"10":4.38,"11":1.05,"12":3.4,"13":1050},{"0":1,"1":13.16,"2":2.36,"3":2.67,"4":18.6,"5":101,"6":2.8,"7":3.24,"8":0.3,"9":2.81,"10":5.68,"11":1.03,"12":3.17,"13":1185},{"0":1,"1":14.37,"2":1.95,"3":2.5,"4":16.8,"5":113,"6":3.85,"7":3.49,"8":0.24,"9":2.18,"10":7.8,"11":0.86,"12":3.45,"13":1480},{"0":1,"1":13.24,"2":2.59,"3":2.87,"4":21.0,"5":118,"6":2.8,"7":2.69,"8":0.39,"9":1.82,"10":4.32,"11":1.04,"12":2.93,"13":735},{"0":1,"1":14.2,"2":1.76,"3":2.45,"4":15.2,"5":112,"6":3.27,"7":3.39,"8":0.34,"9":1.97,"10":6.75,"11":1.05,"12":2.85,"13":1450},{"0":1,"1":14.39,"2":1.87,"3":2.45,"4":14.6,"5":96,"6":2.5,"7":2.52,"8":0.3,"9":1.98,"10":5.25,"11":1.02,"12":3.58,"13":1290},{"0":1,"1":14.06,"2":2.15,"3":2.61,"4":17.6,"5":121,"6":2.6,"7":2.51,"8":0.31,"9":1.25,"10":5.05,"11":1.06,"12":3.58,"13":1295},{"0":1,"1":14.83,"2":1.64,"3":2.17,"4":14.0,"5":97,"6":2.8,"7":2.98,"8":0.29,"9":1.98,"10":5.2,"11":1.08,"12":2.85,"13":1045},{"0":1,"1":13.86,"2":1.35,"3":2.27,"4":16.0,"5":98,"6":2.98,"7":3.15,"8":0.22,"9":1.85,"10":7.22,"11":1.01,"12":3.55,"13":1045},{"0":1,"1":14.1,"2":2.16,"3":2.3,"4":18.0,"5":105,"6":2.95,"7":3.32,"8":0.22,"9":2.38,"10":5.75,"11":1.25,"12":3.17,"13":1510},{"0":1,"1":14.12,"2":1.48,"3":2.32,"4":16.8,"5":95,"6":2.2,"7":2.43,"8":0.26,"9":1.57,"10":5.0,"11":1.17,"12":2.82,"13":1280},{"0":1,"1":13.75,"2":1.73,"3":2.41,"4":16.0,"5":89,"6":2.6,"7":2.76,"8":0.29,"9":1.81,"10":5.6,"11":1.15,"12":2.9,"13":1320},{"0":1,"1":14.75,"2":1.73,"3":2.39,"4":11.4,"5":91,"6":3.1,"7":3.69,"8":0.43,"9":2.81,"10":5.4,"11":1.25,"12":2.73,"13":1150},{"0":1,"1":14.38,"2":1.87,"3":2.38,"4":12.0,"5":102,"6":3.3,"7":3.64,"8":0.29,"9":2.96,"10":7.5,"11":1.2,"12":3.0,"13":1547},{"0":1,"1":13.63,"2":1.81,"3":2.7,"4":17.2,"5":112,"6":2.85,"7":2.91,"8":0.3,"9":1.46,"10":7.3,"11":1.28,"12":2.88,"13":1310},{"0":1,"1":14.3,"2":1.92,"3":2.72,"4":20.0,"5":120,"6":2.8,"7":3.14,"8":0.33,"9":1.97,"10":6.2,"11":1.07,"12":2.65,"13":1280},{"0":1,"1":13.83,"2":1.57,"3":2.62,"4":20.0,"5":115,"6":2.95,"7":3.4,"8":0.4,"9":1.72,"10":6.6,"11":1.13,"12":2.57,"13":1130},{"0":1,"1":14.19,"2":1.59,"3":2.48,"4":16.5,"5":108,"6":3.3,"7":3.93,"8":0.32,"9":1.86,"10":8.7,"11":1.23,"12":2.82,"13":1680},{"0":1,"1":13.64,"2":3.1,"3":2.56,"4":15.2,"5":116,"6":2.7,"7":3.03,"8":0.17,"9":1.66,"10":5.1,"11":0.96,"12":3.36,"13":845},{"0":1,"1":14.06,"2":1.63,"3":2.28,"4":16.0,"5":126,"6":3.0,"7":3.17,"8":0.24,"9":2.1,"10":5.65,"11":1.09,"12":3.71,"13":780},{"0":1,"1":12.93,"2":3.8,"3":2.65,"4":18.6,"5":102,"6":2.41,"7":2.41,"8":0.25,"9":1.98,"10":4.5,"11":1.03,"12":3.52,"13":770},{"0":1,"1":13.71,"2":1.86,"3":2.36,"4":16.6,"5":101,"6":2.61,"7":2.88,"8":0.27,"9":1.69,"10":3.8,"11":1.11,"12":4.0,"13":1035},{"0":1,"1":12.85,"2":1.6,"3":2.52,"4":17.8,"5":95,"6":2.48,"7":2.37,"8":0.26,"9":1.46,"10":3.93,"11":1.09,"12":3.63,"13":1015},{"0":1,"1":13.5,"2":1.81,"3":2.61,"4":20.0,"5":96,"6":2.53,"7":2.61,"8":0.28,"9":1.66,"10":3.52,"11":1.12,"12":3.82,"13":845},{"0":1,"1":13.05,"2":2.05,"3":3.22,"4":25.0,"5":124,"6":2.63,"7":2.68,"8":0.47,"9":1.92,"10":3.58,"11":1.13,"12":3.2,"13":830},{"0":1,"1":13.39,"2":1.77,"3":2.62,"4":16.1,"5":93,"6":2.85,"7":2.94,"8":0.34,"9":1.45,"10":4.8,"11":0.92,"12":3.22,"13":1195},{"0":1,"1":13.3,"2":1.72,"3":2.14,"4":17.0,"5":94,"6":2.4,"7":2.19,"8":0.27,"9":1.35,"10":3.95,"11":1.02,"12":2.77,"13":1285},{"0":1,"1":13.87,"2":1.9,"3":2.8,"4":19.4,"5":107,"6":2.95,"7":2.97,"8":0.37,"9":1.76,"10":4.5,"11":1.25,"12":3.4,"13":915},{"0":1,"1":14.02,"2":1.68,"3":2.21,"4":16.0,"5":96,"6":2.65,"7":2.33,"8":0.26,"9":1.98,"10":4.7,"11":1.04,"12":3.59,"13":1035},{"0":1,"1":13.73,"2":1.5,"3":2.7,"4":22.5,"5":101,"6":3.0,"7":3.25,"8":0.29,"9":2.38,"10":5.7,"11":1.19,"12":2.71,"13":1285},{"0":1,"1":13.58,"2":1.66,"3":2.36,"4":19.1,"5":106,"6":2.86,"7":3.19,"8":0.22,"9":1.95,"10":6.9,"11":1.09,"12":2.88,"13":1515},{"0":1,"1":13.68,"2":1.83,"3":2.36,"4":17.2,"5":104,"6":2.42,"7":2.69,"8":0.42,"9":1.97,"10":3.84,"11":1.23,"12":2.87,"13":990},{"0":1,"1":13.76,"2":1.53,"3":2.7,"4":19.5,"5":132,"6":2.95,"7":2.74,"8":0.5,"9":1.35,"10":5.4,"11":1.25,"12":3.0,"13":1235},{"0":1,"1":13.51,"2":1.8,"3":2.65,"4":19.0,"5":110,"6":2.35,"7":2.53,"8":0.29,"9":1.54,"10":4.2,"11":1.1,"12":2.87,"13":1095},{"0":1,"1":13.48,"2":1.81,"3":2.41,"4":20.5,"5":100,"6":2.7,"7":2.98,"8":0.26,"9":1.86,"10":5.1,"11":1.04,"12":3.47,"13":920},{"0":1,"1":13.28,"2":1.64,"3":2.84,"4":15.5,"5":110,"6":2.6,"7":2.68,"8":0.34,"9":1.36,"10":4.6,"11":1.09,"12":2.78,"13":880},{"0":1,"1":13.05,"2":1.65,"3":2.55,"4":18.0,"5":98,"6":2.45,"7":2.43,"8":0.29,"9":1.44,"10":4.25,"11":1.12,"12":2.51,"13":1105},{"0":1,"1":13.07,"2":1.5,"3":2.1,"4":15.5,"5":98,"6":2.4,"7":2.64,"8":0.28,"9":1.37,"10":3.7,"11":1.18,"12":2.69,"13":1020},{"0":1,"1":14.22,"2":3.99,"3":2.51,"4":13.2,"5":128,"6":3.0,"7":3.04,"8":0.2,"9":2.08,"10":5.1,"11":0.89,"12":3.53,"13":760},{"0":1,"1":13.56,"2":1.71,"3":2.31,"4":16.2,"5":117,"6":3.15,"7":3.29,"8":0.34,"9":2.34,"10":6.13,"11":0.95,"12":3.38,"13":795},{"0":1,"1":13.41,"2":3.84,"3":2.12,"4":18.8,"5":90,"6":2.45,"7":2.68,"8":0.27,"9":1.48,"10":4.28,"11":0.91,"12":3.0,"13":1035},{"0":1,"1":13.88,"2":1.89,"3":2.59,"4":15.0,"5":101,"6":3.25,"7":3.56,"8":0.17,"9":1.7,"10":5.43,"11":0.88,"12":3.56,"13":1095},{"0":1,"1":13.24,"2":3.98,"3":2.29,"4":17.5,"5":103,"6":2.64,"7":2.63,"8":0.32,"9":1.66,"10":4.36,"11":0.82,"12":3.0,"13":680},{"0":1,"1":13.05,"2":1.77,"3":2.1,"4":17.0,"5":107,"6":3.0,"7":3.0,"8":0.28,"9":2.03,"10":5.04,"11":0.88,"12":3.35,"13":885},{"0":1,"1":14.21,"2":4.04,"3":2.44,"4":18.9,"5":111,"6":2.85,"7":2.65,"8":0.3,"9":1.25,"10":5.24,"11":0.87,"12":3.33,"13":1080},{"0":1,"1":14.38,"2":3.59,"3":2.28,"4":16.0,"5":102,"6":3.25,"7":3.17,"8":0.27,"9":2.19,"10":4.9,"11":1.04,"12":3.44,"13":1065},{"0":1,"1":13.9,"2":1.68,"3":2.12,"4":16.0,"5":101,"6":3.1,"7":3.39,"8":0.21,"9":2.14,"10":6.1,"11":0.91,"12":3.33,"13":985},{"0":1,"1":14.1,"2":2.02,"3":2.4,"4":18.8,"5":103,"6":2.75,"7":2.92,"8":0.32,"9":2.38,"10":6.2,"11":1.07,"12":2.75,"13":1060},{"0":1,"1":13.94,"2":1.73,"3":2.27,"4":17.4,"5":108,"6":2.88,"7":3.54,"8":0.32,"9":2.08,"10":8.9,"11":1.12,"12":3.1,"13":1260},{"0":1,"1":13.05,"2":1.73,"3":2.04,"4":12.4,"5":92,"6":2.72,"7":3.27,"8":0.17,"9":2.91,"10":7.2,"11":1.12,"12":2.91,"13":1150},{"0":1,"1":13.83,"2":1.65,"3":2.6,"4":17.2,"5":94,"6":2.45,"7":2.99,"8":0.22,"9":2.29,"10":5.6,"11":1.24,"12":3.37,"13":1265},{"0":1,"1":13.82,"2":1.75,"3":2.42,"4":14.0,"5":111,"6":3.88,"7":3.74,"8":0.32,"9":1.87,"10":7.05,"11":1.01,"12":3.26,"13":1190},{"0":1,"1":13.77,"2":1.9,"3":2.68,"4":17.1,"5":115,"6":3.0,"7":2.79,"8":0.39,"9":1.68,"10":6.3,"11":1.13,"12":2.93,"13":1375},{"0":1,"1":13.74,"2":1.67,"3":2.25,"4":16.4,"5":118,"6":2.6,"7":2.9,"8":0.21,"9":1.62,"10":5.85,"11":0.92,"12":3.2,"13":1060},{"0":1,"1":13.56,"2":1.73,"3":2.46,"4":20.5,"5":116,"6":2.96,"7":2.78,"8":0.2,"9":2.45,"10":6.25,"11":0.98,"12":3.03,"13":1120},{"0":1,"1":14.22,"2":1.7,"3":2.3,"4":16.3,"5":118,"6":3.2,"7":3.0,"8":0.26,"9":2.03,"10":6.38,"11":0.94,"12":3.31,"13":970},{"0":1,"1":13.29,"2":1.97,"3":2.68,"4":16.8,"5":102,"6":3.0,"7":3.23,"8":0.31,"9":1.66,"10":6.0,"11":1.07,"12":2.84,"13":1270},{"0":1,"1":13.72,"2":1.43,"3":2.5,"4":16.7,"5":108,"6":3.4,"7":3.67,"8":0.19,"9":2.04,"10":6.8,"11":0.89,"12":2.87,"13":1285},{"0":2,"1":12.37,"2":0.94,"3":1.36,"4":10.6,"5":88,"6":1.98,"7":0.57,"8":0.28,"9":0.42,"10":1.95,"11":1.05,"12":1.82,"13":520},{"0":2,"1":12.33,"2":1.1,"3":2.28,"4":16.0,"5":101,"6":2.05,"7":1.09,"8":0.63,"9":0.41,"10":3.27,"11":1.25,"12":1.67,"13":680},{"0":2,"1":12.64,"2":1.36,"3":2.02,"4":16.8,"5":100,"6":2.02,"7":1.41,"8":0.53,"9":0.62,"10":5.75,"11":0.98,"12":1.59,"13":450},{"0":2,"1":13.67,"2":1.25,"3":1.92,"4":18.0,"5":94,"6":2.1,"7":1.79,"8":0.32,"9":0.73,"10":3.8,"11":1.23,"12":2.46,"13":630},{"0":2,"1":12.37,"2":1.13,"3":2.16,"4":19.0,"5":87,"6":3.5,"7":3.1,"8":0.19,"9":1.87,"10":4.45,"11":1.22,"12":2.87,"13":420},{"0":2,"1":12.17,"2":1.45,"3":2.53,"4":19.0,"5":104,"6":1.89,"7":1.75,"8":0.45,"9":1.03,"10":2.95,"11":1.45,"12":2.23,"13":355},{"0":2,"1":12.37,"2":1.21,"3":2.56,"4":18.1,"5":98,"6":2.42,"7":2.65,"8":0.37,"9":2.08,"10":4.6,"11":1.19,"12":2.3,"13":678},{"0":2,"1":13.11,"2":1.01,"3":1.7,"4":15.0,"5":78,"6":2.98,"7":3.18,"8":0.26,"9":2.28,"10":5.3,"11":1.12,"12":3.18,"13":502},{"0":2,"1":12.37,"2":1.17,"3":1.92,"4":19.6,"5":78,"6":2.11,"7":2.0,"8":0.27,"9":1.04,"10":4.68,"11":1.12,"12":3.48,"13":510},{"0":2,"1":13.34,"2":0.94,"3":2.36,"4":17.0,"5":110,"6":2.53,"7":1.3,"8":0.55,"9":0.42,"10":3.17,"11":1.02,"12":1.93,"13":750},{"0":2,"1":12.21,"2":1.19,"3":1.75,"4":16.8,"5":151,"6":1.85,"7":1.28,"8":0.14,"9":2.5,"10":2.85,"11":1.28,"12":3.07,"13":718},{"0":2,"1":12.29,"2":1.61,"3":2.21,"4":20.4,"5":103,"6":1.1,"7":1.02,"8":0.37,"9":1.46,"10":3.05,"11":0.906,"12":1.82,"13":870},{"0":2,"1":13.86,"2":1.51,"3":2.67,"4":25.0,"5":86,"6":2.95,"7":2.86,"8":0.21,"9":1.87,"10":3.38,"11":1.36,"12":3.16,"13":410},{"0":2,"1":13.49,"2":1.66,"3":2.24,"4":24.0,"5":87,"6":1.88,"7":1.84,"8":0.27,"9":1.03,"10":3.74,"11":0.98,"12":2.78,"13":472},{"0":2,"1":12.99,"2":1.67,"3":2.6,"4":30.0,"5":139,"6":3.3,"7":2.89,"8":0.21,"9":1.96,"10":3.35,"11":1.31,"12":3.5,"13":985},{"0":2,"1":11.96,"2":1.09,"3":2.3,"4":21.0,"5":101,"6":3.38,"7":2.14,"8":0.13,"9":1.65,"10":3.21,"11":0.99,"12":3.13,"13":886},{"0":2,"1":11.66,"2":1.88,"3":1.92,"4":16.0,"5":97,"6":1.61,"7":1.57,"8":0.34,"9":1.15,"10":3.8,"11":1.23,"12":2.14,"13":428},{"0":2,"1":13.03,"2":0.9,"3":1.71,"4":16.0,"5":86,"6":1.95,"7":2.03,"8":0.24,"9":1.46,"10":4.6,"11":1.19,"12":2.48,"13":392},{"0":2,"1":11.84,"2":2.89,"3":2.23,"4":18.0,"5":112,"6":1.72,"7":1.32,"8":0.43,"9":0.95,"10":2.65,"11":0.96,"12":2.52,"13":500},{"0":2,"1":12.33,"2":0.99,"3":1.95,"4":14.8,"5":136,"6":1.9,"7":1.85,"8":0.35,"9":2.76,"10":3.4,"11":1.06,"12":2.31,"13":750},{"0":2,"1":12.7,"2":3.87,"3":2.4,"4":23.0,"5":101,"6":2.83,"7":2.55,"8":0.43,"9":1.95,"10":2.57,"11":1.19,"12":3.13,"13":463},{"0":2,"1":12.0,"2":0.92,"3":2.0,"4":19.0,"5":86,"6":2.42,"7":2.26,"8":0.3,"9":1.43,"10":2.5,"11":1.38,"12":3.12,"13":278},{"0":2,"1":12.72,"2":1.81,"3":2.2,"4":18.8,"5":86,"6":2.2,"7":2.53,"8":0.26,"9":1.77,"10":3.9,"11":1.16,"12":3.14,"13":714},{"0":2,"1":12.08,"2":1.13,"3":2.51,"4":24.0,"5":78,"6":2.0,"7":1.58,"8":0.4,"9":1.4,"10":2.2,"11":1.31,"12":2.72,"13":630},{"0":2,"1":13.05,"2":3.86,"3":2.32,"4":22.5,"5":85,"6":1.65,"7":1.59,"8":0.61,"9":1.62,"10":4.8,"11":0.84,"12":2.01,"13":515},{"0":2,"1":11.84,"2":0.89,"3":2.58,"4":18.0,"5":94,"6":2.2,"7":2.21,"8":0.22,"9":2.35,"10":3.05,"11":0.79,"12":3.08,"13":520},{"0":2,"1":12.67,"2":0.98,"3":2.24,"4":18.0,"5":99,"6":2.2,"7":1.94,"8":0.3,"9":1.46,"10":2.62,"11":1.23,"12":3.16,"13":450},{"0":2,"1":12.16,"2":1.61,"3":2.31,"4":22.8,"5":90,"6":1.78,"7":1.69,"8":0.43,"9":1.56,"10":2.45,"11":1.33,"12":2.26,"13":495},{"0":2,"1":11.65,"2":1.67,"3":2.62,"4":26.0,"5":88,"6":1.92,"7":1.61,"8":0.4,"9":1.34,"10":2.6,"11":1.36,"12":3.21,"13":562},{"0":2,"1":11.64,"2":2.06,"3":2.46,"4":21.6,"5":84,"6":1.95,"7":1.69,"8":0.48,"9":1.35,"10":2.8,"11":1.0,"12":2.75,"13":680},{"0":2,"1":12.08,"2":1.33,"3":2.3,"4":23.6,"5":70,"6":2.2,"7":1.59,"8":0.42,"9":1.38,"10":1.74,"11":1.07,"12":3.21,"13":625},{"0":2,"1":12.08,"2":1.83,"3":2.32,"4":18.5,"5":81,"6":1.6,"7":1.5,"8":0.52,"9":1.64,"10":2.4,"11":1.08,"12":2.27,"13":480},{"0":2,"1":12.0,"2":1.51,"3":2.42,"4":22.0,"5":86,"6":1.45,"7":1.25,"8":0.5,"9":1.63,"10":3.6,"11":1.05,"12":2.65,"13":450},{"0":2,"1":12.69,"2":1.53,"3":2.26,"4":20.7,"5":80,"6":1.38,"7":1.46,"8":0.58,"9":1.62,"10":3.05,"11":0.96,"12":2.06,"13":495},{"0":2,"1":12.29,"2":2.83,"3":2.22,"4":18.0,"5":88,"6":2.45,"7":2.25,"8":0.25,"9":1.99,"10":2.15,"11":1.15,"12":3.3,"13":290},{"0":2,"1":11.62,"2":1.99,"3":2.28,"4":18.0,"5":98,"6":3.02,"7":2.26,"8":0.17,"9":1.35,"10":3.25,"11":1.16,"12":2.96,"13":345},{"0":2,"1":12.47,"2":1.52,"3":2.2,"4":19.0,"5":162,"6":2.5,"7":2.27,"8":0.32,"9":3.28,"10":2.6,"11":1.16,"12":2.63,"13":937},{"0":2,"1":11.81,"2":2.12,"3":2.74,"4":21.5,"5":134,"6":1.6,"7":0.99,"8":0.14,"9":1.56,"10":2.5,"11":0.95,"12":2.26,"13":625},{"0":2,"1":12.29,"2":1.41,"3":1.98,"4":16.0,"5":85,"6":2.55,"7":2.5,"8":0.29,"9":1.77,"10":2.9,"11":1.23,"12":2.74,"13":428},{"0":2,"1":12.37,"2":1.07,"3":2.1,"4":18.5,"5":88,"6":3.52,"7":3.75,"8":0.24,"9":1.95,"10":4.5,"11":1.04,"12":2.77,"13":660},{"0":2,"1":12.29,"2":3.17,"3":2.21,"4":18.0,"5":88,"6":2.85,"7":2.99,"8":0.45,"9":2.81,"10":2.3,"11":1.42,"12":2.83,"13":406},{"0":2,"1":12.08,"2":2.08,"3":1.7,"4":17.5,"5":97,"6":2.23,"7":2.17,"8":0.26,"9":1.4,"10":3.3,"11":1.27,"12":2.96,"13":710},{"0":2,"1":12.6,"2":1.34,"3":1.9,"4":18.5,"5":88,"6":1.45,"7":1.36,"8":0.29,"9":1.35,"10":2.45,"11":1.04,"12":2.77,"13":562},{"0":2,"1":12.34,"2":2.45,"3":2.46,"4":21.0,"5":98,"6":2.56,"7":2.11,"8":0.34,"9":1.31,"10":2.8,"11":0.8,"12":3.38,"13":438},{"0":2,"1":11.82,"2":1.72,"3":1.88,"4":19.5,"5":86,"6":2.5,"7":1.64,"8":0.37,"9":1.42,"10":2.06,"11":0.94,"12":2.44,"13":415},{"0":2,"1":12.51,"2":1.73,"3":1.98,"4":20.5,"5":85,"6":2.2,"7":1.92,"8":0.32,"9":1.48,"10":2.94,"11":1.04,"12":3.57,"13":672},{"0":2,"1":12.42,"2":2.55,"3":2.27,"4":22.0,"5":90,"6":1.68,"7":1.84,"8":0.66,"9":1.42,"10":2.7,"11":0.86,"12":3.3,"13":315},{"0":2,"1":12.25,"2":1.73,"3":2.12,"4":19.0,"5":80,"6":1.65,"7":2.03,"8":0.37,"9":1.63,"10":3.4,"11":1.0,"12":3.17,"13":510},{"0":2,"1":12.72,"2":1.75,"3":2.28,"4":22.5,"5":84,"6":1.38,"7":1.76,"8":0.48,"9":1.63,"10":3.3,"11":0.88,"12":2.42,"13":488},{"0":2,"1":12.22,"2":1.29,"3":1.94,"4":19.0,"5":92,"6":2.36,"7":2.04,"8":0.39,"9":2.08,"10":2.7,"11":0.86,"12":3.02,"13":312},{"0":2,"1":11.61,"2":1.35,"3":2.7,"4":20.0,"5":94,"6":2.74,"7":2.92,"8":0.29,"9":2.49,"10":2.65,"11":0.96,"12":3.26,"13":680},{"0":2,"1":11.46,"2":3.74,"3":1.82,"4":19.5,"5":107,"6":3.18,"7":2.58,"8":0.24,"9":3.58,"10":2.9,"11":0.75,"12":2.81,"13":562},{"0":2,"1":12.52,"2":2.43,"3":2.17,"4":21.0,"5":88,"6":2.55,"7":2.27,"8":0.26,"9":1.22,"10":2.0,"11":0.9,"12":2.78,"13":325},{"0":2,"1":11.76,"2":2.68,"3":2.92,"4":20.0,"5":103,"6":1.75,"7":2.03,"8":0.6,"9":1.05,"10":3.8,"11":1.23,"12":2.5,"13":607},{"0":2,"1":11.41,"2":0.74,"3":2.5,"4":21.0,"5":88,"6":2.48,"7":2.01,"8":0.42,"9":1.44,"10":3.08,"11":1.1,"12":2.31,"13":434},{"0":2,"1":12.08,"2":1.39,"3":2.5,"4":22.5,"5":84,"6":2.56,"7":2.29,"8":0.43,"9":1.04,"10":2.9,"11":0.93,"12":3.19,"13":385},{"0":2,"1":11.03,"2":1.51,"3":2.2,"4":21.5,"5":85,"6":2.46,"7":2.17,"8":0.52,"9":2.01,"10":1.9,"11":1.71,"12":2.87,"13":407},{"0":2,"1":11.82,"2":1.47,"3":1.99,"4":20.8,"5":86,"6":1.98,"7":1.6,"8":0.3,"9":1.53,"10":1.95,"11":0.95,"12":3.33,"13":495},{"0":2,"1":12.42,"2":1.61,"3":2.19,"4":22.5,"5":108,"6":2.0,"7":2.09,"8":0.34,"9":1.61,"10":2.06,"11":1.06,"12":2.96,"13":345},{"0":2,"1":12.77,"2":3.43,"3":1.98,"4":16.0,"5":80,"6":1.63,"7":1.25,"8":0.43,"9":0.83,"10":3.4,"11":0.7,"12":2.12,"13":372},{"0":2,"1":12.0,"2":3.43,"3":2.0,"4":19.0,"5":87,"6":2.0,"7":1.64,"8":0.37,"9":1.87,"10":1.28,"11":0.93,"12":3.05,"13":564},{"0":2,"1":11.45,"2":2.4,"3":2.42,"4":20.0,"5":96,"6":2.9,"7":2.79,"8":0.32,"9":1.83,"10":3.25,"11":0.8,"12":3.39,"13":625},{"0":2,"1":11.56,"2":2.05,"3":3.23,"4":28.5,"5":119,"6":3.18,"7":5.08,"8":0.47,"9":1.87,"10":6.0,"11":0.93,"12":3.69,"13":465},{"0":2,"1":12.42,"2":4.43,"3":2.73,"4":26.5,"5":102,"6":2.2,"7":2.13,"8":0.43,"9":1.71,"10":2.08,"11":0.92,"12":3.12,"13":365},{"0":2,"1":13.05,"2":5.8,"3":2.13,"4":21.5,"5":86,"6":2.62,"7":2.65,"8":0.3,"9":2.01,"10":2.6,"11":0.73,"12":3.1,"13":380},{"0":2,"1":11.87,"2":4.31,"3":2.39,"4":21.0,"5":82,"6":2.86,"7":3.03,"8":0.21,"9":2.91,"10":2.8,"11":0.75,"12":3.64,"13":380},{"0":2,"1":12.07,"2":2.16,"3":2.17,"4":21.0,"5":85,"6":2.6,"7":2.65,"8":0.37,"9":1.35,"10":2.76,"11":0.86,"12":3.28,"13":378},{"0":2,"1":12.43,"2":1.53,"3":2.29,"4":21.5,"5":86,"6":2.74,"7":3.15,"8":0.39,"9":1.77,"10":3.94,"11":0.69,"12":2.84,"13":352},{"0":2,"1":11.79,"2":2.13,"3":2.78,"4":28.5,"5":92,"6":2.13,"7":2.24,"8":0.58,"9":1.76,"10":3.0,"11":0.97,"12":2.44,"13":466},{"0":2,"1":12.37,"2":1.63,"3":2.3,"4":24.5,"5":88,"6":2.22,"7":2.45,"8":0.4,"9":1.9,"10":2.12,"11":0.89,"12":2.78,"13":342},{"0":2,"1":12.04,"2":4.3,"3":2.38,"4":22.0,"5":80,"6":2.1,"7":1.75,"8":0.42,"9":1.35,"10":2.6,"11":0.79,"12":2.57,"13":580},{"0":3,"1":12.86,"2":1.35,"3":2.32,"4":18.0,"5":122,"6":1.51,"7":1.25,"8":0.21,"9":0.94,"10":4.1,"11":0.76,"12":1.29,"13":630},{"0":3,"1":12.88,"2":2.99,"3":2.4,"4":20.0,"5":104,"6":1.3,"7":1.22,"8":0.24,"9":0.83,"10":5.4,"11":0.74,"12":1.42,"13":530},{"0":3,"1":12.81,"2":2.31,"3":2.4,"4":24.0,"5":98,"6":1.15,"7":1.09,"8":0.27,"9":0.83,"10":5.7,"11":0.66,"12":1.36,"13":560},{"0":3,"1":12.7,"2":3.55,"3":2.36,"4":21.5,"5":106,"6":1.7,"7":1.2,"8":0.17,"9":0.84,"10":5.0,"11":0.78,"12":1.29,"13":600},{"0":3,"1":12.51,"2":1.24,"3":2.25,"4":17.5,"5":85,"6":2.0,"7":0.58,"8":0.6,"9":1.25,"10":5.45,"11":0.75,"12":1.51,"13":650},{"0":3,"1":12.6,"2":2.46,"3":2.2,"4":18.5,"5":94,"6":1.62,"7":0.66,"8":0.63,"9":0.94,"10":7.1,"11":0.73,"12":1.58,"13":695},{"0":3,"1":12.25,"2":4.72,"3":2.54,"4":21.0,"5":89,"6":1.38,"7":0.47,"8":0.53,"9":0.8,"10":3.85,"11":0.75,"12":1.27,"13":720},{"0":3,"1":12.53,"2":5.51,"3":2.64,"4":25.0,"5":96,"6":1.79,"7":0.6,"8":0.63,"9":1.1,"10":5.0,"11":0.82,"12":1.69,"13":515},{"0":3,"1":13.49,"2":3.59,"3":2.19,"4":19.5,"5":88,"6":1.62,"7":0.48,"8":0.58,"9":0.88,"10":5.7,"11":0.81,"12":1.82,"13":580},{"0":3,"1":12.84,"2":2.96,"3":2.61,"4":24.0,"5":101,"6":2.32,"7":0.6,"8":0.53,"9":0.81,"10":4.92,"11":0.89,"12":2.15,"13":590},{"0":3,"1":12.93,"2":2.81,"3":2.7,"4":21.0,"5":96,"6":1.54,"7":0.5,"8":0.53,"9":0.75,"10":4.6,"11":0.77,"12":2.31,"13":600},{"0":3,"1":13.36,"2":2.56,"3":2.35,"4":20.0,"5":89,"6":1.4,"7":0.5,"8":0.37,"9":0.64,"10":5.6,"11":0.7,"12":2.47,"13":780},{"0":3,"1":13.52,"2":3.17,"3":2.72,"4":23.5,"5":97,"6":1.55,"7":0.52,"8":0.5,"9":0.55,"10":4.35,"11":0.89,"12":2.06,"13":520},{"0":3,"1":13.62,"2":4.95,"3":2.35,"4":20.0,"5":92,"6":2.0,"7":0.8,"8":0.47,"9":1.02,"10":4.4,"11":0.91,"12":2.05,"13":550},{"0":3,"1":12.25,"2":3.88,"3":2.2,"4":18.5,"5":112,"6":1.38,"7":0.78,"8":0.29,"9":1.14,"10":8.21,"11":0.65,"12":2.0,"13":855},{"0":3,"1":13.16,"2":3.57,"3":2.15,"4":21.0,"5":102,"6":1.5,"7":0.55,"8":0.43,"9":1.3,"10":4.0,"11":0.6,"12":1.68,"13":830},{"0":3,"1":13.88,"2":5.04,"3":2.23,"4":20.0,"5":80,"6":0.98,"7":0.34,"8":0.4,"9":0.68,"10":4.9,"11":0.58,"12":1.33,"13":415},{"0":3,"1":12.87,"2":4.61,"3":2.48,"4":21.5,"5":86,"6":1.7,"7":0.65,"8":0.47,"9":0.86,"10":7.65,"11":0.54,"12":1.86,"13":625},{"0":3,"1":13.32,"2":3.24,"3":2.38,"4":21.5,"5":92,"6":1.93,"7":0.76,"8":0.45,"9":1.25,"10":8.42,"11":0.55,"12":1.62,"13":650},{"0":3,"1":13.08,"2":3.9,"3":2.36,"4":21.5,"5":113,"6":1.41,"7":1.39,"8":0.34,"9":1.14,"10":9.4,"11":0.57,"12":1.33,"13":550},{"0":3,"1":13.5,"2":3.12,"3":2.62,"4":24.0,"5":123,"6":1.4,"7":1.57,"8":0.22,"9":1.25,"10":8.6,"11":0.59,"12":1.3,"13":500},{"0":3,"1":12.79,"2":2.67,"3":2.48,"4":22.0,"5":112,"6":1.48,"7":1.36,"8":0.24,"9":1.26,"10":10.8,"11":0.48,"12":1.47,"13":480},{"0":3,"1":13.11,"2":1.9,"3":2.75,"4":25.5,"5":116,"6":2.2,"7":1.28,"8":0.26,"9":1.56,"10":7.1,"11":0.61,"12":1.33,"13":425},{"0":3,"1":13.23,"2":3.3,"3":2.28,"4":18.5,"5":98,"6":1.8,"7":0.83,"8":0.61,"9":1.87,"10":10.52,"11":0.56,"12":1.51,"13":675},{"0":3,"1":12.58,"2":1.29,"3":2.1,"4":20.0,"5":103,"6":1.48,"7":0.58,"8":0.53,"9":1.4,"10":7.6,"11":0.58,"12":1.55,"13":640},{"0":3,"1":13.17,"2":5.19,"3":2.32,"4":22.0,"5":93,"6":1.74,"7":0.63,"8":0.61,"9":1.55,"10":7.9,"11":0.6,"12":1.48,"13":725},{"0":3,"1":13.84,"2":4.12,"3":2.38,"4":19.5,"5":89,"6":1.8,"7":0.83,"8":0.48,"9":1.56,"10":9.01,"11":0.57,"12":1.64,"13":480},{"0":3,"1":12.45,"2":3.03,"3":2.64,"4":27.0,"5":97,"6":1.9,"7":0.58,"8":0.63,"9":1.14,"10":7.5,"11":0.67,"12":1.73,"13":880},{"0":3,"1":14.34,"2":1.68,"3":2.7,"4":25.0,"5":98,"6":2.8,"7":1.31,"8":0.53,"9":2.7,"10":13.0,"11":0.57,"12

In [106]:

df.to_json(orient="records")

'[{"0":1,"1":14.23,"2":1.71,"3":2.43,"4":15.6,"5":127,"6":2.8,"7":3.06,"8":0.28,"9":2.29,"10":5.64,"11":1.04,"12":3.92,"13":1065},{"0":1,"1":13.2,"2":1.78,"3":2.14,"4":11.2,"5":100,"6":2.65,"7":2.76,"8":0.26,"9":1.28,"10":4.38,"11":1.05,"12":3.4,"13":1050},{"0":1,"1":13.16,"2":2.36,"3":2.67,"4":18.6,"5":101,"6":2.8,"7":3.24,"8":0.3,"9":2.81,"10":5.68,"11":1.03,"12":3.17,"13":1185},{"0":1,"1":14.37,"2":1.95,"3":2.5,"4":16.8,"5":113,"6":3.85,"7":3.49,"8":0.24,"9":2.18,"10":7.8,"11":0.86,"12":3.45,"13":1480},{"0":1,"1":13.24,"2":2.59,"3":2.87,"4":21.0,"5":118,"6":2.8,"7":2.69,"8":0.39,"9":1.82,"10":4.32,"11":1.04,"12":2.93,"13":735},{"0":1,"1":14.2,"2":1.76,"3":2.45,"4":15.2,"5":112,"6":3.27,"7":3.39,"8":0.34,"9":1.97,"10":6.75,"11":1.05,"12":2.85,"13":1450},{"0":1,"1":14.39,"2":1.87,"3":2.45,"4":14.6,"5":96,"6":2.5,"7":2.52,"8":0.3,"9":1.98,"10":5.25,"11":1.02,"12":3.58,"13":1290},{"0":1,"1":14.06,"2":2.15,"3":2.61,"4":17.6,"5":121,"6":2.6,"7":2.51,"8":0.31,"9":1.25,"10":5.05,"11":1.06,"12":3.58,"13":1295},{"0":1,"1":14.83,"2":1.64,"3":2.17,"4":14.0,"5":97,"6":2.8,"7":2.98,"8":0.29,"9":1.98,"10":5.2,"11":1.08,"12":2.85,"13":1045},{"0":1,"1":13.86,"2":1.35,"3":2.27,"4":16.0,"5":98,"6":2.98,"7":3.15,"8":0.22,"9":1.85,"10":7.22,"11":1.01,"12":3.55,"13":1045},{"0":1,"1":14.1,"2":2.16,"3":2.3,"4":18.0,"5":105,"6":2.95,"7":3.32,"8":0.22,"9":2.38,"10":5.75,"11":1.25,"12":3.17,"13":1510},{"0":1,"1":14.12,"2":1.48,"3":2.32,"4":16.8,"5":95,"6":2.2,"7":2.43,"8":0.26,"9":1.57,"10":5.0,"11":1.17,"12":2.82,"13":1280},{"0":1,"1":13.75,"2":1.73,"3":2.41,"4":16.0,"5":89,"6":2.6,"7":2.76,"8":0.29,"9":1.81,"10":5.6,"11":1.15,"12":2.9,"13":1320},{"0":1,"1":14.75,"2":1.73,"3":2.39,"4":11.4,"5":91,"6":3.1,"7":3.69,"8":0.43,"9":2.81,"10":5.4,"11":1.25,"12":2.73,"13":1150},{"0":1,"1":14.38,"2":1.87,"3":2.38,"4":12.0,"5":102,"6":3.3,"7":3.64,"8":0.29,"9":2.96,"10":7.5,"11":1.2,"12":3.0,"13":1547},{"0":1,"1":13.63,"2":1.81,"3":2.7,"4":17.2,"5":112,"6":2.85,"7":2.91,"8":0.3,"9":1.46,"10":7.3,"11":1.28,"12":2.88,"13":1310},{"0":1,"1":14.3,"2":1.92,"3":2.72,"4":20.0,"5":120,"6":2.8,"7":3.14,"8":0.33,"9":1.97,"10":6.2,"11":1.07,"12":2.65,"13":1280},{"0":1,"1":13.83,"2":1.57,"3":2.62,"4":20.0,"5":115,"6":2.95,"7":3.4,"8":0.4,"9":1.72,"10":6.6,"11":1.13,"12":2.57,"13":1130},{"0":1,"1":14.19,"2":1.59,"3":2.48,"4":16.5,"5":108,"6":3.3,"7":3.93,"8":0.32,"9":1.86,"10":8.7,"11":1.23,"12":2.82,"13":1680},{"0":1,"1":13.64,"2":3.1,"3":2.56,"4":15.2,"5":116,"6":2.7,"7":3.03,"8":0.17,"9":1.66,"10":5.1,"11":0.96,"12":3.36,"13":845},{"0":1,"1":14.06,"2":1.63,"3":2.28,"4":16.0,"5":126,"6":3.0,"7":3.17,"8":0.24,"9":2.1,"10":5.65,"11":1.09,"12":3.71,"13":780},{"0":1,"1":12.93,"2":3.8,"3":2.65,"4":18.6,"5":102,"6":2.41,"7":2.41,"8":0.25,"9":1.98,"10":4.5,"11":1.03,"12":3.52,"13":770},{"0":1,"1":13.71,"2":1.86,"3":2.36,"4":16.6,"5":101,"6":2.61,"7":2.88,"8":0.27,"9":1.69,"10":3.8,"11":1.11,"12":4.0,"13":1035},{"0":1,"1":12.85,"2":1.6,"3":2.52,"4":17.8,"5":95,"6":2.48,"7":2.37,"8":0.26,"9":1.46,"10":3.93,"11":1.09,"12":3.63,"13":1015},{"0":1,"1":13.5,"2":1.81,"3":2.61,"4":20.0,"5":96,"6":2.53,"7":2.61,"8":0.28,"9":1.66,"10":3.52,"11":1.12,"12":3.82,"13":845},{"0":1,"1":13.05,"2":2.05,"3":3.22,"4":25.0,"5":124,"6":2.63,"7":2.68,"8":0.47,"9":1.92,"10":3.58,"11":1.13,"12":3.2,"13":830},{"0":1,"1":13.39,"2":1.77,"3":2.62,"4":16.1,"5":93,"6":2.85,"7":2.94,"8":0.34,"9":1.45,"10":4.8,"11":0.92,"12":3.22,"13":1195},{"0":1,"1":13.3,"2":1.72,"3":2.14,"4":17.0,"5":94,"6":2.4,"7":2.19,"8":0.27,"9":1.35,"10":3.95,"11":1.02,"12":2.77,"13":1285},{"0":1,"1":13.87,"2":1.9,"3":2.8,"4":19.4,"5":107,"6":2.95,"7":2.97,"8":0.37,"9":1.76,"10":4.5,"11":1.25,"12":3.4,"13":915},{"0":1,"1":14.02,"2":1.68,"3":2.21,"4":16.0,"5":96,"6":2.65,"7":2.33,"8":0.26,"9":1.98,"10":4.7,"11":1.04,"12":3.59,"13":1035},{"0":1,"1":13.73,"2":1.5,"3":2.7,"4":22.5,"5":101,"6":3.0,"7":3.25,"8":0.29,"9":2.38,"10":5.7,"11":1.19,"12":2.71,"13":1285},{"0":1,"1":13.58,"2":1.66,"3":2.36,"4":19.1,"5":106,"6":2.86,"7":3.19,"8":0.22,"9":1.95,"10":6.9,"11":1.09,"12":2.88,"13":1515},{"0":1,"1":13.68,"2":1.83,"3":2.36,"4":17.2,"5":104,"6":2.42,"7":2.69,"8":0.42,"9":1.97,"10":3.84,"11":1.23,"12":2.87,"13":990},{"0":1,"1":13.76,"2":1.53,"3":2.7,"4":19.5,"5":132,"6":2.95,"7":2.74,"8":0.5,"9":1.35,"10":5.4,"11":1.25,"12":3.0,"13":1235},{"0":1,"1":13.51,"2":1.8,"3":2.65,"4":19.0,"5":110,"6":2.35,"7":2.53,"8":0.29,"9":1.54,"10":4.2,"11":1.1,"12":2.87,"13":1095},{"0":1,"1":13.48,"2":1.81,"3":2.41,"4":20.5,"5":100,"6":2.7,"7":2.98,"8":0.26,"9":1.86,"10":5.1,"11":1.04,"12":3.47,"13":920},{"0":1,"1":13.28,"2":1.64,"3":2.84,"4":15.5,"5":110,"6":2.6,"7":2.68,"8":0.34,"9":1.36,"10":4.6,"11":1.09,"12":2.78,"13":880},{"0":1,"1":13.05,"2":1.65,"3":2.55,"4":18.0,"5":98,"6":2.45,"7":2.43,"8":0.29,"9":1.44,"10":4.25,"11":1.12,"12":2.51,"13":1105},{"0":1,"1":13.07,"2":1.5,"3":2.1,"4":15.5,"5":98,"6":2.4,"7":2.64,"8":0.28,"9":1.37,"10":3.7,"11":1.18,"12":2.69,"13":1020},{"0":1,"1":14.22,"2":3.99,"3":2.51,"4":13.2,"5":128,"6":3.0,"7":3.04,"8":0.2,"9":2.08,"10":5.1,"11":0.89,"12":3.53,"13":760},{"0":1,"1":13.56,"2":1.71,"3":2.31,"4":16.2,"5":117,"6":3.15,"7":3.29,"8":0.34,"9":2.34,"10":6.13,"11":0.95,"12":3.38,"13":795},{"0":1,"1":13.41,"2":3.84,"3":2.12,"4":18.8,"5":90,"6":2.45,"7":2.68,"8":0.27,"9":1.48,"10":4.28,"11":0.91,"12":3.0,"13":1035},{"0":1,"1":13.88,"2":1.89,"3":2.59,"4":15.0,"5":101,"6":3.25,"7":3.56,"8":0.17,"9":1.7,"10":5.43,"11":0.88,"12":3.56,"13":1095},{"0":1,"1":13.24,"2":3.98,"3":2.29,"4":17.5,"5":103,"6":2.64,"7":2.63,"8":0.32,"9":1.66,"10":4.36,"11":0.82,"12":3.0,"13":680},{"0":1,"1":13.05,"2":1.77,"3":2.1,"4":17.0,"5":107,"6":3.0,"7":3.0,"8":0.28,"9":2.03,"10":5.04,"11":0.88,"12":3.35,"13":885},{"0":1,"1":14.21,"2":4.04,"3":2.44,"4":18.9,"5":111,"6":2.85,"7":2.65,"8":0.3,"9":1.25,"10":5.24,"11":0.87,"12":3.33,"13":1080},{"0":1,"1":14.38,"2":3.59,"3":2.28,"4":16.0,"5":102,"6":3.25,"7":3.17,"8":0.27,"9":2.19,"10":4.9,"11":1.04,"12":3.44,"13":1065},{"0":1,"1":13.9,"2":1.68,"3":2.12,"4":16.0,"5":101,"6":3.1,"7":3.39,"8":0.21,"9":2.14,"10":6.1,"11":0.91,"12":3.33,"13":985},{"0":1,"1":14.1,"2":2.02,"3":2.4,"4":18.8,"5":103,"6":2.75,"7":2.92,"8":0.32,"9":2.38,"10":6.2,"11":1.07,"12":2.75,"13":1060},{"0":1,"1":13.94,"2":1.73,"3":2.27,"4":17.4,"5":108,"6":2.88,"7":3.54,"8":0.32,"9":2.08,"10":8.9,"11":1.12,"12":3.1,"13":1260},{"0":1,"1":13.05,"2":1.73,"3":2.04,"4":12.4,"5":92,"6":2.72,"7":3.27,"8":0.17,"9":2.91,"10":7.2,"11":1.12,"12":2.91,"13":1150},{"0":1,"1":13.83,"2":1.65,"3":2.6,"4":17.2,"5":94,"6":2.45,"7":2.99,"8":0.22,"9":2.29,"10":5.6,"11":1.24,"12":3.37,"13":1265},{"0":1,"1":13.82,"2":1.75,"3":2.42,"4":14.0,"5":111,"6":3.88,"7":3.74,"8":0.32,"9":1.87,"10":7.05,"11":1.01,"12":3.26,"13":1190},{"0":1,"1":13.77,"2":1.9,"3":2.68,"4":17.1,"5":115,"6":3.0,"7":2.79,"8":0.39,"9":1.68,"10":6.3,"11":1.13,"12":2.93,"13":1375},{"0":1,"1":13.74,"2":1.67,"3":2.25,"4":16.4,"5":118,"6":2.6,"7":2.9,"8":0.21,"9":1.62,"10":5.85,"11":0.92,"12":3.2,"13":1060},{"0":1,"1":13.56,"2":1.73,"3":2.46,"4":20.5,"5":116,"6":2.96,"7":2.78,"8":0.2,"9":2.45,"10":6.25,"11":0.98,"12":3.03,"13":1120},{"0":1,"1":14.22,"2":1.7,"3":2.3,"4":16.3,"5":118,"6":3.2,"7":3.0,"8":0.26,"9":2.03,"10":6.38,"11":0.94,"12":3.31,"13":970},{"0":1,"1":13.29,"2":1.97,"3":2.68,"4":16.8,"5":102,"6":3.0,"7":3.23,"8":0.31,"9":1.66,"10":6.0,"11":1.07,"12":2.84,"13":1270},{"0":1,"1":13.72,"2":1.43,"3":2.5,"4":16.7,"5":108,"6":3.4,"7":3.67,"8":0.19,"9":2.04,"10":6.8,"11":0.89,"12":2.87,"13":1285},{"0":2,"1":12.37,"2":0.94,"3":1.36,"4":10.6,"5":88,"6":1.98,"7":0.57,"8":0.28,"9":0.42,"10":1.95,"11":1.05,"12":1.82,"13":520},{"0":2,"1":12.33,"2":1.1,"3":2.28,"4":16.0,"5":101,"6":2.05,"7":1.09,"8":0.63,"9":0.41,"10":3.27,"11":1.25,"12":1.67,"13":680},{"0":2,"1":12.64,"2":1.36,"3":2.02,"4":16.8,"5":100,"6":2.02,"7":1.41,"8":0.53,"9":0.62,"10":5.75,"11":0.98,"12":1.59,"13":450},{"0":2,"1":13.67,"2":1.25,"3":1.92,"4":18.0,"5":94,"6":2.1,"7":1.79,"8":0.32,"9":0.73,"10":3.8,"11":1.23,"12":2.46,"13":630},{"0":2,"1":12.37,"2":1.13,"3":2.16,"4":19.0,"5":87,"6":3.5,"7":3.1,"8":0.19,"9":1.87,"10":4.45,"11":1.22,"12":2.87,"13":420},{"0":2,"1":12.17,"2":1.45,"3":2.53,"4":19.0,"5":104,"6":1.89,"7":1.75,"8":0.45,"9":1.03,"10":2.95,"11":1.45,"12":2.23,"13":355},{"0":2,"1":12.37,"2":1.21,"3":2.56,"4":18.1,"5":98,"6":2.42,"7":2.65,"8":0.37,"9":2.08,"10":4.6,"11":1.19,"12":2.3,"13":678},{"0":2,"1":13.11,"2":1.01,"3":1.7,"4":15.0,"5":78,"6":2.98,"7":3.18,"8":0.26,"9":2.28,"10":5.3,"11":1.12,"12":3.18,"13":502},{"0":2,"1":12.37,"2":1.17,"3":1.92,"4":19.6,"5":78,"6":2.11,"7":2.0,"8":0.27,"9":1.04,"10":4.68,"11":1.12,"12":3.48,"13":510},{"0":2,"1":13.34,"2":0.94,"3":2.36,"4":17.0,"5":110,"6":2.53,"7":1.3,"8":0.55,"9":0.42,"10":3.17,"11":1.02,"12":1.93,"13":750},{"0":2,"1":12.21,"2":1.19,"3":1.75,"4":16.8,"5":151,"6":1.85,"7":1.28,"8":0.14,"9":2.5,"10":2.85,"11":1.28,"12":3.07,"13":718},{"0":2,"1":12.29,"2":1.61,"3":2.21,"4":20.4,"5":103,"6":1.1,"7":1.02,"8":0.37,"9":1.46,"10":3.05,"11":0.906,"12":1.82,"13":870},{"0":2,"1":13.86,"2":1.51,"3":2.67,"4":25.0,"5":86,"6":2.95,"7":2.86,"8":0.21,"9":1.87,"10":3.38,"11":1.36,"12":3.16,"13":410},{"0":2,"1":13.49,"2":1.66,"3":2.24,"4":24.0,"5":87,"6":1.88,"7":1.84,"8":0.27,"9":1.03,"10":3.74,"11":0.98,"12":2.78,"13":472},{"0":2,"1":12.99,"2":1.67,"3":2.6,"4":30.0,"5":139,"6":3.3,"7":2.89,"8":0.21,"9":1.96,"10":3.35,"11":1.31,"12":3.5,"13":985},{"0":2,"1":11.96,"2":1.09,"3":2.3,"4":21.0,"5":101,"6":3.38,"7":2.14,"8":0.13,"9":1.65,"10":3.21,"11":0.99,"12":3.13,"13":886},{"0":2,"1":11.66,"2":1.88,"3":1.92,"4":16.0,"5":97,"6":1.61,"7":1.57,"8":0.34,"9":1.15,"10":3.8,"11":1.23,"12":2.14,"13":428},{"0":2,"1":13.03,"2":0.9,"3":1.71,"4":16.0,"5":86,"6":1.95,"7":2.03,"8":0.24,"9":1.46,"10":4.6,"11":1.19,"12":2.48,"13":392},{"0":2,"1":11.84,"2":2.89,"3":2.23,"4":18.0,"5":112,"6":1.72,"7":1.32,"8":0.43,"9":0.95,"10":2.65,"11":0.96,"12":2.52,"13":500},{"0":2,"1":12.33,"2":0.99,"3":1.95,"4":14.8,"5":136,"6":1.9,"7":1.85,"8":0.35,"9":2.76,"10":3.4,"11":1.06,"12":2.31,"13":750},{"0":2,"1":12.7,"2":3.87,"3":2.4,"4":23.0,"5":101,"6":2.83,"7":2.55,"8":0.43,"9":1.95,"10":2.57,"11":1.19,"12":3.13,"13":463},{"0":2,"1":12.0,"2":0.92,"3":2.0,"4":19.0,"5":86,"6":2.42,"7":2.26,"8":0.3,"9":1.43,"10":2.5,"11":1.38,"12":3.12,"13":278},{"0":2,"1":12.72,"2":1.81,"3":2.2,"4":18.8,"5":86,"6":2.2,"7":2.53,"8":0.26,"9":1.77,"10":3.9,"11":1.16,"12":3.14,"13":714},{"0":2,"1":12.08,"2":1.13,"3":2.51,"4":24.0,"5":78,"6":2.0,"7":1.58,"8":0.4,"9":1.4,"10":2.2,"11":1.31,"12":2.72,"13":630},{"0":2,"1":13.05,"2":3.86,"3":2.32,"4":22.5,"5":85,"6":1.65,"7":1.59,"8":0.61,"9":1.62,"10":4.8,"11":0.84,"12":2.01,"13":515},{"0":2,"1":11.84,"2":0.89,"3":2.58,"4":18.0,"5":94,"6":2.2,"7":2.21,"8":0.22,"9":2.35,"10":3.05,"11":0.79,"12":3.08,"13":520},{"0":2,"1":12.67,"2":0.98,"3":2.24,"4":18.0,"5":99,"6":2.2,"7":1.94,"8":0.3,"9":1.46,"10":2.62,"11":1.23,"12":3.16,"13":450},{"0":2,"1":12.16,"2":1.61,"3":2.31,"4":22.8,"5":90,"6":1.78,"7":1.69,"8":0.43,"9":1.56,"10":2.45,"11":1.33,"12":2.26,"13":495},{"0":2,"1":11.65,"2":1.67,"3":2.62,"4":26.0,"5":88,"6":1.92,"7":1.61,"8":0.4,"9":1.34,"10":2.6,"11":1.36,"12":3.21,"13":562},{"0":2,"1":11.64,"2":2.06,"3":2.46,"4":21.6,"5":84,"6":1.95,"7":1.69,"8":0.48,"9":1.35,"10":2.8,"11":1.0,"12":2.75,"13":680},{"0":2,"1":12.08,"2":1.33,"3":2.3,"4":23.6,"5":70,"6":2.2,"7":1.59,"8":0.42,"9":1.38,"10":1.74,"11":1.07,"12":3.21,"13":625},{"0":2,"1":12.08,"2":1.83,"3":2.32,"4":18.5,"5":81,"6":1.6,"7":1.5,"8":0.52,"9":1.64,"10":2.4,"11":1.08,"12":2.27,"13":480},{"0":2,"1":12.0,"2":1.51,"3":2.42,"4":22.0,"5":86,"6":1.45,"7":1.25,"8":0.5,"9":1.63,"10":3.6,"11":1.05,"12":2.65,"13":450},{"0":2,"1":12.69,"2":1.53,"3":2.26,"4":20.7,"5":80,"6":1.38,"7":1.46,"8":0.58,"9":1.62,"10":3.05,"11":0.96,"12":2.06,"13":495},{"0":2,"1":12.29,"2":2.83,"3":2.22,"4":18.0,"5":88,"6":2.45,"7":2.25,"8":0.25,"9":1.99,"10":2.15,"11":1.15,"12":3.3,"13":290},{"0":2,"1":11.62,"2":1.99,"3":2.28,"4":18.0,"5":98,"6":3.02,"7":2.26,"8":0.17,"9":1.35,"10":3.25,"11":1.16,"12":2.96,"13":345},{"0":2,"1":12.47,"2":1.52,"3":2.2,"4":19.0,"5":162,"6":2.5,"7":2.27,"8":0.32,"9":3.28,"10":2.6,"11":1.16,"12":2.63,"13":937},{"0":2,"1":11.81,"2":2.12,"3":2.74,"4":21.5,"5":134,"6":1.6,"7":0.99,"8":0.14,"9":1.56,"10":2.5,"11":0.95,"12":2.26,"13":625},{"0":2,"1":12.29,"2":1.41,"3":1.98,"4":16.0,"5":85,"6":2.55,"7":2.5,"8":0.29,"9":1.77,"10":2.9,"11":1.23,"12":2.74,"13":428},{"0":2,"1":12.37,"2":1.07,"3":2.1,"4":18.5,"5":88,"6":3.52,"7":3.75,"8":0.24,"9":1.95,"10":4.5,"11":1.04,"12":2.77,"13":660},{"0":2,"1":12.29,"2":3.17,"3":2.21,"4":18.0,"5":88,"6":2.85,"7":2.99,"8":0.45,"9":2.81,"10":2.3,"11":1.42,"12":2.83,"13":406},{"0":2,"1":12.08,"2":2.08,"3":1.7,"4":17.5,"5":97,"6":2.23,"7":2.17,"8":0.26,"9":1.4,"10":3.3,"11":1.27,"12":2.96,"13":710},{"0":2,"1":12.6,"2":1.34,"3":1.9,"4":18.5,"5":88,"6":1.45,"7":1.36,"8":0.29,"9":1.35,"10":2.45,"11":1.04,"12":2.77,"13":562},{"0":2,"1":12.34,"2":2.45,"3":2.46,"4":21.0,"5":98,"6":2.56,"7":2.11,"8":0.34,"9":1.31,"10":2.8,"11":0.8,"12":3.38,"13":438},{"0":2,"1":11.82,"2":1.72,"3":1.88,"4":19.5,"5":86,"6":2.5,"7":1.64,"8":0.37,"9":1.42,"10":2.06,"11":0.94,"12":2.44,"13":415},{"0":2,"1":12.51,"2":1.73,"3":1.98,"4":20.5,"5":85,"6":2.2,"7":1.92,"8":0.32,"9":1.48,"10":2.94,"11":1.04,"12":3.57,"13":672},{"0":2,"1":12.42,"2":2.55,"3":2.27,"4":22.0,"5":90,"6":1.68,"7":1.84,"8":0.66,"9":1.42,"10":2.7,"11":0.86,"12":3.3,"13":315},{"0":2,"1":12.25,"2":1.73,"3":2.12,"4":19.0,"5":80,"6":1.65,"7":2.03,"8":0.37,"9":1.63,"10":3.4,"11":1.0,"12":3.17,"13":510},{"0":2,"1":12.72,"2":1.75,"3":2.28,"4":22.5,"5":84,"6":1.38,"7":1.76,"8":0.48,"9":1.63,"10":3.3,"11":0.88,"12":2.42,"13":488},{"0":2,"1":12.22,"2":1.29,"3":1.94,"4":19.0,"5":92,"6":2.36,"7":2.04,"8":0.39,"9":2.08,"10":2.7,"11":0.86,"12":3.02,"13":312},{"0":2,"1":11.61,"2":1.35,"3":2.7,"4":20.0,"5":94,"6":2.74,"7":2.92,"8":0.29,"9":2.49,"10":2.65,"11":0.96,"12":3.26,"13":680},{"0":2,"1":11.46,"2":3.74,"3":1.82,"4":19.5,"5":107,"6":3.18,"7":2.58,"8":0.24,"9":3.58,"10":2.9,"11":0.75,"12":2.81,"13":562},{"0":2,"1":12.52,"2":2.43,"3":2.17,"4":21.0,"5":88,"6":2.55,"7":2.27,"8":0.26,"9":1.22,"10":2.0,"11":0.9,"12":2.78,"13":325},{"0":2,"1":11.76,"2":2.68,"3":2.92,"4":20.0,"5":103,"6":1.75,"7":2.03,"8":0.6,"9":1.05,"10":3.8,"11":1.23,"12":2.5,"13":607},{"0":2,"1":11.41,"2":0.74,"3":2.5,"4":21.0,"5":88,"6":2.48,"7":2.01,"8":0.42,"9":1.44,"10":3.08,"11":1.1,"12":2.31,"13":434},{"0":2,"1":12.08,"2":1.39,"3":2.5,"4":22.5,"5":84,"6":2.56,"7":2.29,"8":0.43,"9":1.04,"10":2.9,"11":0.93,"12":3.19,"13":385},{"0":2,"1":11.03,"2":1.51,"3":2.2,"4":21.5,"5":85,"6":2.46,"7":2.17,"8":0.52,"9":2.01,"10":1.9,"11":1.71,"12":2.87,"13":407},{"0":2,"1":11.82,"2":1.47,"3":1.99,"4":20.8,"5":86,"6":1.98,"7":1.6,"8":0.3,"9":1.53,"10":1.95,"11":0.95,"12":3.33,"13":495},{"0":2,"1":12.42,"2":1.61,"3":2.19,"4":22.5,"5":108,"6":2.0,"7":2.09,"8":0.34,"9":1.61,"10":2.06,"11":1.06,"12":2.96,"13":345},{"0":2,"1":12.77,"2":3.43,"3":1.98,"4":16.0,"5":80,"6":1.63,"7":1.25,"8":0.43,"9":0.83,"10":3.4,"11":0.7,"12":2.12,"13":372},{"0":2,"1":12.0,"2":3.43,"3":2.0,"4":19.0,"5":87,"6":2.0,"7":1.64,"8":0.37,"9":1.87,"10":1.28,"11":0.93,"12":3.05,"13":564},{"0":2,"1":11.45,"2":2.4,"3":2.42,"4":20.0,"5":96,"6":2.9,"7":2.79,"8":0.32,"9":1.83,"10":3.25,"11":0.8,"12":3.39,"13":625},{"0":2,"1":11.56,"2":2.05,"3":3.23,"4":28.5,"5":119,"6":3.18,"7":5.08,"8":0.47,"9":1.87,"10":6.0,"11":0.93,"12":3.69,"13":465},{"0":2,"1":12.42,"2":4.43,"3":2.73,"4":26.5,"5":102,"6":2.2,"7":2.13,"8":0.43,"9":1.71,"10":2.08,"11":0.92,"12":3.12,"13":365},{"0":2,"1":13.05,"2":5.8,"3":2.13,"4":21.5,"5":86,"6":2.62,"7":2.65,"8":0.3,"9":2.01,"10":2.6,"11":0.73,"12":3.1,"13":380},{"0":2,"1":11.87,"2":4.31,"3":2.39,"4":21.0,"5":82,"6":2.86,"7":3.03,"8":0.21,"9":2.91,"10":2.8,"11":0.75,"12":3.64,"13":380},{"0":2,"1":12.07,"2":2.16,"3":2.17,"4":21.0,"5":85,"6":2.6,"7":2.65,"8":0.37,"9":1.35,"10":2.76,"11":0.86,"12":3.28,"13":378},{"0":2,"1":12.43,"2":1.53,"3":2.29,"4":21.5,"5":86,"6":2.74,"7":3.15,"8":0.39,"9":1.77,"10":3.94,"11":0.69,"12":2.84,"13":352},{"0":2,"1":11.79,"2":2.13,"3":2.78,"4":28.5,"5":92,"6":2.13,"7":2.24,"8":0.58,"9":1.76,"10":3.0,"11":0.97,"12":2.44,"13":466},{"0":2,"1":12.37,"2":1.63,"3":2.3,"4":24.5,"5":88,"6":2.22,"7":2.45,"8":0.4,"9":1.9,"10":2.12,"11":0.89,"12":2.78,"13":342},{"0":2,"1":12.04,"2":4.3,"3":2.38,"4":22.0,"5":80,"6":2.1,"7":1.75,"8":0.42,"9":1.35,"10":2.6,"11":0.79,"12":2.57,"13":580},{"0":3,"1":12.86,"2":1.35,"3":2.32,"4":18.0,"5":122,"6":1.51,"7":1.25,"8":0.21,"9":0.94,"10":4.1,"11":0.76,"12":1.29,"13":630},{"0":3,"1":12.88,"2":2.99,"3":2.4,"4":20.0,"5":104,"6":1.3,"7":1.22,"8":0.24,"9":0.83,"10":5.4,"11":0.74,"12":1.42,"13":530},{"0":3,"1":12.81,"2":2.31,"3":2.4,"4":24.0,"5":98,"6":1.15,"7":1.09,"8":0.27,"9":0.83,"10":5.7,"11":0.66,"12":1.36,"13":560},{"0":3,"1":12.7,"2":3.55,"3":2.36,"4":21.5,"5":106,"6":1.7,"7":1.2,"8":0.17,"9":0.84,"10":5.0,"11":0.78,"12":1.29,"13":600},{"0":3,"1":12.51,"2":1.24,"3":2.25,"4":17.5,"5":85,"6":2.0,"7":0.58,"8":0.6,"9":1.25,"10":5.45,"11":0.75,"12":1.51,"13":650},{"0":3,"1":12.6,"2":2.46,"3":2.2,"4":18.5,"5":94,"6":1.62,"7":0.66,"8":0.63,"9":0.94,"10":7.1,"11":0.73,"12":1.58,"13":695},{"0":3,"1":12.25,"2":4.72,"3":2.54,"4":21.0,"5":89,"6":1.38,"7":0.47,"8":0.53,"9":0.8,"10":3.85,"11":0.75,"12":1.27,"13":720},{"0":3,"1":12.53,"2":5.51,"3":2.64,"4":25.0,"5":96,"6":1.79,"7":0.6,"8":0.63,"9":1.1,"10":5.0,"11":0.82,"12":1.69,"13":515},{"0":3,"1":13.49,"2":3.59,"3":2.19,"4":19.5,"5":88,"6":1.62,"7":0.48,"8":0.58,"9":0.88,"10":5.7,"11":0.81,"12":1.82,"13":580},{"0":3,"1":12.84,"2":2.96,"3":2.61,"4":24.0,"5":101,"6":2.32,"7":0.6,"8":0.53,"9":0.81,"10":4.92,"11":0.89,"12":2.15,"13":590},{"0":3,"1":12.93,"2":2.81,"3":2.7,"4":21.0,"5":96,"6":1.54,"7":0.5,"8":0.53,"9":0.75,"10":4.6,"11":0.77,"12":2.31,"13":600},{"0":3,"1":13.36,"2":2.56,"3":2.35,"4":20.0,"5":89,"6":1.4,"7":0.5,"8":0.37,"9":0.64,"10":5.6,"11":0.7,"12":2.47,"13":780},{"0":3,"1":13.52,"2":3.17,"3":2.72,"4":23.5,"5":97,"6":1.55,"7":0.52,"8":0.5,"9":0.55,"10":4.35,"11":0.89,"12":2.06,"13":520},{"0":3,"1":13.62,"2":4.95,"3":2.35,"4":20.0,"5":92,"6":2.0,"7":0.8,"8":0.47,"9":1.02,"10":4.4,"11":0.91,"12":2.05,"13":550},{"0":3,"1":12.25,"2":3.88,"3":2.2,"4":18.5,"5":112,"6":1.38,"7":0.78,"8":0.29,"9":1.14,"10":8.21,"11":0.65,"12":2.0,"13":855},{"0":3,"1":13.16,"2":3.57,"3":2.15,"4":21.0,"5":102,"6":1.5,"7":0.55,"8":0.43,"9":1.3,"10":4.0,"11":0.6,"12":1.68,"13":830},{"0":3,"1":13.88,"2":5.04,"3":2.23,"4":20.0,"5":80,"6":0.98,"7":0.34,"8":0.4,"9":0.68,"10":4.9,"11":0.58,"12":1.33,"13":415},{"0":3,"1":12.87,"2":4.61,"3":2.48,"4":21.5,"5":86,"6":1.7,"7":0.65,"8":0.47,"9":0.86,"10":7.65,"11":0.54,"12":1.86,"13":625},{"0":3,"1":13.32,"2":3.24,"3":2.38,"4":21.5,"5":92,"6":1.93,"7":0.76,"8":0.45,"9":1.25,"10":8.42,"11":0.55,"12":1.62,"13":650},{"0":3,"1":13.08,"2":3.9,"3":2.36,"4":21.5,"5":113,"6":1.41,"7":1.39,"8":0.34,"9":1.14,"10":9.4,"11":0.57,"12":1.33,"13":550},{"0":3,"1":13.5,"2":3.12,"3":2.62,"4":24.0,"5":123,"6":1.4,"7":1.57,"8":0.22,"9":1.25,"10":8.6,"11":0.59,"12":1.3,"13":500},{"0":3,"1":12.79,"2":2.67,"3":2.48,"4":22.0,"5":112,"6":1.48,"7":1.36,"8":0.24,"9":1.26,"10":10.8,"11":0.48,"12":1.47,"13":480},{"0":3,"1":13.11,"2":1.9,"3":2.75,"4":25.5,"5":116,"6":2.2,"7":1.28,"8":0.26,"9":1.56,"10":7.1,"11":0.61,"12":1.33,"13":425},{"0":3,"1":13.23,"2":3.3,"3":2.28,"4":18.5,"5":98,"6":1.8,"7":0.83,"8":0.61,"9":1.87,"10":10.52,"11":0.56,"12":1.51,"13":675},{"0":3,"1":12.58,"2":1.29,"3":2.1,"4":20.0,"5":103,"6":1.48,"7":0.58,"8":0.53,"9":1.4,"10":7.6,"11":0.58,"12":1.55,"13":640},{"0":3,"1":13.17,"2":5.19,"3":2.32,"4":22.0,"5":93,"6":1.74,"7":0.63,"8":0.61,"9":1.55,"10":7.9,"11":0.6,"12":1.48,"13":725},{"0":3,"1":13.84,"2":4.12,"3":2.38,"4":19.5,"5":89,"6":1.8,"7":0.83,"8":0.48,"9":1.56,"10":9.01,"11":0.57,"12":1.64,"13":480},{"0":3,"1":12.45,"2":3.03,"3":2.64,"4":27.0,"5":97,"6":1.9,"7":0.58,"8":0.63,"9":1.14,"10":7.5,"11":0.67,"12":1.73,"13":880},{"0":3,"1":14.34,"2":1.68,"3":2.7,"4":25.0,"5":98,"6":2.8,"7":1.31,"8":0.53,"9":2.7,"10":13.0,"11":0.57,"12

## Reading HTML content

In [107]:
url = 'https://www.fdic.gov/bank/individual/failed/banklist.html'

#it is html bank table.see this url on browser

In [108]:
dfs = pd.read_html(url)

In [109]:
dfs

[                                             Bank Name                City  \
 0                                 The First State Bank       Barboursville
 1                                   Ericson State Bank             Ericson
 2                     City National Bank of New Jersey              Newark
 3                                        Resolute Bank              Maumee
 4                                Louisa Community Bank              Louisa
 5                                 The Enloe State Bank              Cooper
 6                  Washington Federal Bank for Savings             Chicago
 7      The Farmers and Merchants State Bank of Argonia             Argonia
 8                                  Fayette County Bank          Saint Elmo
 9    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 10                                      First NBC Bank         New Orleans
 11                                       Proficio Bank  Cottonwood Heights
 12                       Seaway Bank and Trust Company             Chicago
 13                              Harvest Community Bank          Pennsville
 14                                         Allied Bank            Mulberry
 15                        The Woodbury Banking Company            Woodbury
 16                              First CornerStone Bank     King of Prussia
 17                                  Trust Company Bank             Memphis
 18                          North Milwaukee State Bank           Milwaukee
 19                              Hometown National Bank            Longview
 20                                 The Bank of Georgia      Peachtree City
 21                                        Premier Bank              Denver
 22                                      Edgebrook Bank             Chicago
 23                              Doral Bank  En Español            San Juan
 24                   Capitol City Bank & Trust Company             Atlanta
 25                             Highland Community Bank             Chicago
 26                    First National Bank of Crestview           Crestview
 27                                  Northern Star Bank             Mankato
 28              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 29               The National Republic Bank of Chicago             Chicago
 ..                                                 ...                 ...
 531                                  ANB Financial, NA         Bentonville
 532                                          Hume Bank                Hume
 533                             Douglass National Bank         Kansas City
 534                                  Miami Valley Bank            Lakeview
 535                                            NetBank          Alpharetta
 536                          Metropolitan Savings Bank          Pittsburgh
 537                                    Bank of Ephraim             Ephraim
 538                                      Reliance Bank        White Plains
 539              Guaranty National Bank of Tallahassee         Tallahassee
 540                                Dollar Savings Bank              Newark
 541                               Pulaski Savings Bank        Philadelphia
 542              First National Bank of Blanchardville      Blanchardville
 543                              Southern Pacific Bank            Torrance
 544                        Farmers Bank of Cheneyville         Cheneyville
 545                                      Bank of Alamo               Alamo
 546             AmTrade International Bank  En Español             Atlanta
 547                     Universal Federal Savings Bank             Chicago
 548                       Connecticut Bank of Commerce            Stamford
 549                                   New Century Bank     Shelby Township
 550                              Net 1st National Bank          Boca Raton
 551                                       NextBank, NA             Phoenix
 552                           Oakwood Deposit Bank Co.             Oakwood
 553                              Bank of Sierra Blanca       Sierra Blanca
 554                      Hamilton Bank, NA  En Español               Miami
 555                             Sinclair National Bank            Gravette
 556                                 Superior Bank, FSB            Hinsdale
 557                                Malta National Bank               Malta
 558                    First Alliance Bank & Trust Co.          Manchester
 559                  National State Bank of Metropolis          Metropolis
 560                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date
 0    WV  14361                       MVB Bank, Inc.       April 3, 2020
 1    NE  18265           Farmers and Merchants Bank   February 14, 2020
 2    NJ  21111                      Industrial Bank    November 1, 2019
 3    OH  58317                   Buckeye State Bank    October 25, 2019
 4    KY  58112    Kentucky Farmers Bank Corporation    October 25, 2019
 5    TX  10716                   Legend Bank, N. A.        May 31, 2019
 6    IL  30570                   Royal Savings Bank   December 15, 2017
 7    KS  17719                          Conway Bank    October 13, 2017
 8    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 9    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 10   LA  58302                         Whitney Bank      April 28, 2017
 11   UT  35495                    Cache Valley Bank       March 3, 2017
 12   IL  19328                  State Bank of Texas    January 27, 2017
 13   NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 14   AR     91                         Today's Bank  September 23, 2016
 15   GA  11297                          United Bank     August 19, 2016
 16   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 17   TN   9956           The Bank of Fayette County      April 29, 2016
 18   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 19   WA  35156                       Twin City Bank     October 2, 2015
 20   GA  35259                        Fidelity Bank     October 2, 2015
 21   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 22   IL  57772             Republic Bank of Chicago         May 8, 2015
 23   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 24   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 25   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 26   FL  17557                       First NBC Bank    January 16, 2015
 27   MN  34983                            BankVista   December 19, 2014
 28   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 29   IL    916                  State Bank of Texas    October 24, 2014
 ..   ..    ...                                  ...                 ...
 531  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 532  MO   1971                        Security Bank       March 7, 2008
 533  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 534  OH  16848         The Citizens Banking Company     October 4, 2007
 535  GA  32575                           ING DIRECT  September 28, 2007
 536  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 537  UT   1249                        Far West Bank       June 25, 2004
 538  NY  26778                     Union State Bank      March 19, 2004
 539  FL  26838              Hancock Bank of Florida      March 12, 2004
 540  NJ  31330                          No Acquirer   February 14, 2004
 541  PA  27203                       Earthstar Bank   November 14, 2003
 542  WI  11639                        The Park Bank         May 9, 2003
 543  CA  27094                            Beal Bank    February 7, 2003
 544  LA  16445            Sabine State Bank & Trust   December 17, 2002
 545  TN   9961                          No Acquirer    November 8, 2002
 546  GA  33784                          No Acquirer  September 30, 2002
 547  IL  29355               Chicago Community Bank       June 27, 2002
 548  CT  19183                   Hudson United Bank       June 26, 2002
 549  MI  34979                          No Acquirer      March 28, 2002
 550  FL  26652                       Bank Leumi USA       March 1, 2002
 551  AZ  22314                          No Acquirer    February 7, 2002
 552  OH   8966       The State Bank & Trust Company    February 1, 2002
 553  TX  22002     The Security State Bank of Pecos    January 18, 2002
 554  FL  24382     Israel Discount Bank of New York    January 11, 2002
 555  AR  34248                   Delta Trust & Bank   September 7, 2001
 556  IL  32646                Superior Federal, FSB       July 27, 2001
 557  OH   6629                    North Valley Bank         May 3, 2001
 558  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 559  IL   3815              Banterra Bank of Marion   December 14, 2000
 560  HI  21029                   Bank of the Orient    October 13, 2000

 [561 rows x 6 columns]]

In [110]:
type(dfs)

list

In [111]:
dfs[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
5,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019"
6,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017"
7,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017"
8,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017"
9,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017"
10,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017"
11,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017"
12,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017"
13,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017"
14,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016"
15,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016"
16,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016"
17,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016"
18,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016"
19,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015"
20,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015"
21,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015"
22,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015"
23,Doral Bank En Español,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015"
24,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015"
25,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015"
26,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015"
27,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014"
28,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014"
29,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014"
...,...,...,...,...,...,...
531,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008"
532,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008"
533,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008"
534,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007"
535,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007"
536,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007"
537,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004"
538,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004"
539,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004"
540,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004"
541,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003"
542,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003"
543,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003"
544,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002"
545,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002"
546,AmTrade International Bank En Español,Atlanta,GA,33784,No Acquirer,"September 30, 2002"
547,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002"
548,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002"
549,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002"
550,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002"
551,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002"
552,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002"
553,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002"
554,"Hamilton Bank, NA En Español",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002"
555,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001"
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [113]:
url_mcc = 'https://en.wikipedia.org/wiki/Mobile_country_code'

In [118]:
dfs = pd.read_html(url_mcc)
dfs

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[4]
 3  Internal use in private networks, no roaming[4]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 5                    213                                    Andorra       AD
 6                    631                                     Angola       AO
 7                    365                  Anguilla (United Kingdom)       AI
 8                    344                        Antigua and Barbuda       AG
 9                    722                                  Argentina       AR
 10                   283                                    Armenia       AM
 11                   363                                      Aruba       AW
 12                   505                                  Australia       AU
 13                   232                                    Austria       AT
 14                   400                                 Azerbaijan       AZ
 15                   364                                  B Bahamas       BS
 16                   426                                    Bahrain       BH
 17                   470                                 Bangladesh       BD
 18                   342                                   Barbados       BB
 19                   257                                    Belarus       BY
 20                   206                                    Belgium       BE
 21                   702                                     Belize       BZ
 22                   616                                      Benin       BJ
 23                   350                                    Bermuda       BM
 24                   402                                     Bhutan       BT
 25                   736                                    Bolivia       BO
 26                   362           Bonaire, Sint Eustatius and Saba       BQ
 27                   218                     Bosnia and Herzegovina       BA
 28                   652                                   Botswana       BW
 29                   724                                     Brazil       BR
 ..                   ...                                        ...      ...
 222                  374                        Trinidad and Tobago       TT
 223                  605                                    Tunisia       TN
 224                  286                                     Turkey       TR
 225                  438                               Turkmenistan       TM
 226                  376                   Turks and Caicos Islands       TC
 227                  553                                     Tuvalu       TV
 228                  641                                   U Uganda       UG
 229                  255                                    Ukraine       UA
 230                  424                       United Arab Emirates       AE
 231                  430           United Arab Emirates (Abu Dhabi)       AE
 232                  431               United Arab Emirates (Dubai)       AE
 233                  234                             United Kingdom       GB
 234                  235                             United Kingdom       GB
 235                  310                   United States of America       US
 236                  311                   United States of America       US
 237                  312                   United States of America       US
 238                  313                   United States of America       US
 239                  314                   United States of America       US
 240                  315                   United States of America       US
 241                  316                   United States of America       US
 242                  332               United States Virgin Islands       VI
 243                  748                                    Uruguay       UY
 244                  434                                 Uzbekistan       UZ
 245                  541                                  V Vanuatu       VU
 246                  734                                  Venezuela       VE
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes  \
 0             List of mobile network codes in Abkhazia
 1          List of mobile network codes in Afghanistan
 2              List of mobile network codes in Albania
 3              List of mobile network codes in Algeria
 4       List of mobile network codes in American Samoa
 5              List of mobile network codes in Andorra
 6               List of mobile network codes in Angola
 7             List of mobile network codes in Anguilla
 8    List of mobile network codes in Antigua and Ba...
 9            List of mobile network codes in Argentina
 10             List of mobile network codes in Armenia
 11               List of mobile network codes in Aruba
 12           List of mobile network codes in Australia
 13             List of mobile network codes in Austria
 14          List of mobile network codes in Azerbaijan
 15             List of mobile network codes in Bahamas
 16             List of mobile network codes in Bahrain
 17          List of mobile network codes in Bangladesh
 18            List of mobile network codes in Barbados
 19             List of mobile network codes in Belarus
 20             List of mobile network codes in Belgium
 21              List of mobile network codes in Belize
 22               List of mobile network codes in Benin
 23             List of mobile network codes in Bermuda
 24              List of mobile network codes in Bhutan
 25             List of mobile network codes in Bolivia
 26   List of mobile network codes in the former Net...
 27   List of mobile network codes in Bosnia and Her...
 28            List of mobile network codes in Botswana
 29              List of mobile network codes in Brazil
 ..                                                 ...
 222  List of mobile network codes in Trinidad and T...
 223            List of mobile network codes in Tunisia
 224             List of mobile network codes in Turkey
 225       List of mobile network codes in Turkmenistan
 226  List of mobile network codes in the Turks and ...
 227             List of mobile network codes in Tuvalu
 228             List of mobile network codes in Uganda
 229            List of mobile network codes in Ukraine
 230  List of mobile network codes in the United Ara...
 231                                    no networks yet
 232                                    no networks yet
 233  List of mobile network codes in the United Kin...
 234  List of mobile network codes in the United Kin...
 235  List of mobile network codes in the United Sta...
 236  List of mobile network codes in the United Sta...
 237  List of mobile network codes in the United Sta...
 238  List of mobile network codes in the United Sta...
 239  List of mobile network codes in the United Sta...
 240  List of mobile network codes in the United Sta...
 241  List of mobile network codes in the United Sta...
 242  List of mobile network codes in the United Sta...
 243            List of mobile network codes in Uruguay
 244     List of mobile network codes in the Uzbekistan
 245            List of mobile network codes in Vanuatu
 246          List of mobile network codes in Venezuela
 247        List of mobile network codes in the Vietnam
 248  List of mobile network codes in Wallis and Futuna
 249          List of mobile network codes in the Yemen
 250             List of mobile network codes in Zambia
 251           List of mobile network codes in Zimbabwe

                                 National MNC authority  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                 Public Utilities Commission (PUC)[5]
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13   Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...
 14                                                 NaN
 15   Utilities Regulation & Competition Authority (...
 16                                                 NaN
 17   Bangladesh Telecommunication Regulatory Commis...
 18                                                 NaN
 19                                                 NaN
 20   Belgian Institute for Postal services and Tele...
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222  Telecommunications Authority of Trinidad and T...
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229  National Commission for the State Regulation o...
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233               Office of Communications (Ofcom)[22]
 234               Office of Communications (Ofcom)[22]
 235                             IMSI Administrator[21]
 236                             IMSI Administrator[21]
 237                             IMSI Administrator[21]
 238                             IMSI Administrator[21]
 239                             IMSI Administrator[21]
 240                             IMSI Administrator[21]
 241                             IMSI Administrator[21]
 242                             IMSI Administrator[21]
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

                                                Remarks
 0                             MCC is not listed by ITU
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222                                                NaN
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229                                                NaN
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233                                                NaN
 234                                                NaN
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239                                                NaN
 240                                                NaN
 241                                                NaN
 242  The US Virgin Islands share the US MCCs instea...
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

 [252 rows x 6 columns],
     MCC  MNC                      Brand  \
 0   901    1                        ICO
 1   901    2                        NaN
 2   901    3                    Iridium
 3   901    4                        NaN
 4   901    5                        NaN
 5   901    6                        NaN
 6   901    7                        NaN
 7   901    8                        NaN
 8   901    9                        NaN
 9   901   10                       ACeS
 10  901   11                   Inmarsat
 11  901   12                    Telenor
 12  901   13                     GSM.AQ
 13  901   14                 AeroMobile
 14  901   15                      OnAir
 15  901   16               Cisco Jasper
 16  901   17                    Navitas
 17  901   18              Cellular @Sea
 18  901   19    Vodafone Malta Maritime
 19  901   20                        NaN
 20  901   21                        NaN
 21  901   22                        NaN
 22  901   23                        NaN
 23  901   24                       iNum
 24  901   25                        NaN
 25  901   26                    TIM@sea
 26  901   27                   OnMarine
 27  901   28                   Vodafone
 28  901   29                    Telenor
 29  901   30                        NaN
 ..  ...  ...                        ...
 49  901   50                        NaN
 50  901   51                        NaN
 51  901   52                        NaN
 52  901   53  European Aviation Network
 53  901   54                        NaN
 54  901   55                        NaN
 55  901   56                       ETSI
 56  901   57                        NaN
 57  901   58                       BICS
 58  901   59                        NaN
 59  901   60                        NaN
 60  901   61                        NaN
 61  901   62                        NaN
 62  901   63                        NaN
 63  901   64                        NaN
 64  901   65                        NaN
 65  901   66                        NaN
 66  901   67                        NaN
 67  901   68                        NaN
 68  901   69                        NaN
 69  901   70                        NaN
 70  901   71                        NaN
 71  901   72                        NaN
 72  901   73                        NaN
 73  901   74                        NaN
 74  901   75                        NaN
 75  901   76                        NaN
 76  901   88                        NaN
 77  902    1                        NaN
 78  991    1                        NaN

                                              Operator           Status  \
 0                            ICO Satellite Management  Not operational
 1                                          Unassigned   Returned spare
 2                                                 NaN      Operational
 3                                          Unassigned   Returned spare
 4                                Thuraya RMSS Network      Operational
 5        Thuraya Satellite Telecommunications Company      Operational
 6                                          Unassigned   Returned spare
 7                                          Unassigned   Returned spare
 8                                          Unassigned   Returned spare
 9                                                 NaN  Not operational
 10                                                NaN      Operational
 11                                Telenor Maritime AS      Operational
 12                                       BebbiCell AG      Operational
 13                                      AeroMobile AS      Operational
 14                             OnAir Switzerland Sarl      Operational
 15                                Cisco Systems, Inc.      Operational
 16                                   JT Group Limited  Not operational
 17                                      AT&T Mobility      Operational
 18                                     Monaco Telecom      Operational
 19                                        Intermatica          Unknown
 20                                       Wins Limited      Operational

In [123]:
dfs = pd.read_html(url_mcc, match='Country', header=0)
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 5                    213                                    Andorra       AD
 6                    631                                     Angola       AO
 7                    365                  Anguilla (United Kingdom)       AI
 8                    344                        Antigua and Barbuda       AG
 9                    722                                  Argentina       AR
 10                   283                                    Armenia       AM
 11                   363                                      Aruba       AW
 12                   505                                  Australia       AU
 13                   232                                    Austria       AT
 14                   400                                 Azerbaijan       AZ
 15                   364                                  B Bahamas       BS
 16                   426                                    Bahrain       BH
 17                   470                                 Bangladesh       BD
 18                   342                                   Barbados       BB
 19                   257                                    Belarus       BY
 20                   206                                    Belgium       BE
 21                   702                                     Belize       BZ
 22                   616                                      Benin       BJ
 23                   350                                    Bermuda       BM
 24                   402                                     Bhutan       BT
 25                   736                                    Bolivia       BO
 26                   362           Bonaire, Sint Eustatius and Saba       BQ
 27                   218                     Bosnia and Herzegovina       BA
 28                   652                                   Botswana       BW
 29                   724                                     Brazil       BR
 ..                   ...                                        ...      ...
 222                  374                        Trinidad and Tobago       TT
 223                  605                                    Tunisia       TN
 224                  286                                     Turkey       TR
 225                  438                               Turkmenistan       TM
 226                  376                   Turks and Caicos Islands       TC
 227                  553                                     Tuvalu       TV
 228                  641                                   U Uganda       UG
 229                  255                                    Ukraine       UA
 230                  424                       United Arab Emirates       AE
 231                  430           United Arab Emirates (Abu Dhabi)       AE
 232                  431               United Arab Emirates (Dubai)       AE
 233                  234                             United Kingdom       GB
 234                  235                             United Kingdom       GB
 235                  310                   United States of America       US
 236                  311                   United States of America       US
 237                  312                   United States of America       US
 238                  313                   United States of America       US
 239                  314                   United States of America       US
 240                  315                   United States of America       US
 241                  316                   United States of America       US
 242                  332               United States Virgin Islands       VI
 243                  748                                    Uruguay       UY
 244                  434                                 Uzbekistan       UZ
 245                  541                                  V Vanuatu       VU
 246                  734                                  Venezuela       VE
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes  \
 0             List of mobile network codes in Abkhazia
 1          List of mobile network codes in Afghanistan
 2              List of mobile network codes in Albania
 3              List of mobile network codes in Algeria
 4       List of mobile network codes in American Samoa
 5              List of mobile network codes in Andorra
 6               List of mobile network codes in Angola
 7             List of mobile network codes in Anguilla
 8    List of mobile network codes in Antigua and Ba...
 9            List of mobile network codes in Argentina
 10             List of mobile network codes in Armenia
 11               List of mobile network codes in Aruba
 12           List of mobile network codes in Australia
 13             List of mobile network codes in Austria
 14          List of mobile network codes in Azerbaijan
 15             List of mobile network codes in Bahamas
 16             List of mobile network codes in Bahrain
 17          List of mobile network codes in Bangladesh
 18            List of mobile network codes in Barbados
 19             List of mobile network codes in Belarus
 20             List of mobile network codes in Belgium
 21              List of mobile network codes in Belize
 22               List of mobile network codes in Benin
 23             List of mobile network codes in Bermuda
 24              List of mobile network codes in Bhutan
 25             List of mobile network codes in Bolivia
 26   List of mobile network codes in the former Net...
 27   List of mobile network codes in Bosnia and Her...
 28            List of mobile network codes in Botswana
 29              List of mobile network codes in Brazil
 ..                                                 ...
 222  List of mobile network codes in Trinidad and T...
 223            List of mobile network codes in Tunisia
 224             List of mobile network codes in Turkey
 225       List of mobile network codes in Turkmenistan
 226  List of mobile network codes in the Turks and ...
 227             List of mobile network codes in Tuvalu
 228             List of mobile network codes in Uganda
 229            List of mobile network codes in Ukraine
 230  List of mobile network codes in the United Ara...
 231                                    no networks yet
 232                                    no networks yet
 233  List of mobile network codes in the United Kin...
 234  List of mobile network codes in the United Kin...
 235  List of mobile network codes in the United Sta...
 236  List of mobile network codes in the United Sta...
 237  List of mobile network codes in the United Sta...
 238  List of mobile network codes in the United Sta...
 239  List of mobile network codes in the United Sta...
 240  List of mobile network codes in the United Sta...
 241  List of mobile network codes in the United Sta...
 242  List of mobile network codes in the United Sta...
 243            List of mobile network codes in Uruguay
 244     List of mobile network codes in the Uzbekistan
 245            List of mobile network codes in Vanuatu
 246          List of mobile network codes in Venezuela
 247        List of mobile network codes in the Vietnam
 248  List of mobile network codes in Wallis and Futuna
 249          List of mobile network codes in the Yemen
 250             List of mobile network codes in Zambia
 251           List of mobile network codes in Zimbabwe

                                 National MNC authority  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                 Public Utilities Commission (PUC)[5]
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13   Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...
 14                                                 NaN
 15   Utilities Regulation & Competition Authority (...
 16                                                 NaN
 17   Bangladesh Telecommunication Regulatory Commis...
 18                                                 NaN
 19                                                 NaN
 20   Belgian Institute for Postal services and Tele...
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222  Telecommunications Authority of Trinidad and T...
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229  National Commission for the State Regulation o...
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233               Office of Communications (Ofcom)[22]
 234               Office of Communications (Ofcom)[22]
 235                             IMSI Administrator[21]
 236                             IMSI Administrator[21]
 237                             IMSI Administrator[21]
 238                             IMSI Administrator[21]
 239                             IMSI Administrator[21]
 240                             IMSI Administrator[21]
 241                             IMSI Administrator[21]
 242                             IMSI Administrator[21]
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

                                                Remarks
 0                             MCC is not listed by ITU
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222                                                NaN
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229                                                NaN
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233                                                NaN
 234                                                NaN
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239                                                NaN
 240                                                NaN
 241                                                NaN
 242  The US Virgin Islands share the US MCCs instea...
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

 [252 rows x 6 columns]]

In [116]:
dfs = pd.read_html(url_mcc, match='Country')
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 5                    213                                    Andorra       AD
 6                    631                                     Angola       AO
 7                    365                  Anguilla (United Kingdom)       AI
 8                    344                        Antigua and Barbuda       AG
 9                    722                                  Argentina       AR
 10                   283                                    Armenia       AM
 11                   363                                      Aruba       AW
 12                   505                                  Australia       AU
 13                   232                                    Austria       AT
 14                   400                                 Azerbaijan       AZ
 15                   364                                  B Bahamas       BS
 16                   426                                    Bahrain       BH
 17                   470                                 Bangladesh       BD
 18                   342                                   Barbados       BB
 19                   257                                    Belarus       BY
 20                   206                                    Belgium       BE
 21                   702                                     Belize       BZ
 22                   616                                      Benin       BJ
 23                   350                                    Bermuda       BM
 24                   402                                     Bhutan       BT
 25                   736                                    Bolivia       BO
 26                   362           Bonaire, Sint Eustatius and Saba       BQ
 27                   218                     Bosnia and Herzegovina       BA
 28                   652                                   Botswana       BW
 29                   724                                     Brazil       BR
 ..                   ...                                        ...      ...
 222                  374                        Trinidad and Tobago       TT
 223                  605                                    Tunisia       TN
 224                  286                                     Turkey       TR
 225                  438                               Turkmenistan       TM
 226                  376                   Turks and Caicos Islands       TC
 227                  553                                     Tuvalu       TV
 228                  641                                   U Uganda       UG
 229                  255                                    Ukraine       UA
 230                  424                       United Arab Emirates       AE
 231                  430           United Arab Emirates (Abu Dhabi)       AE
 232                  431               United Arab Emirates (Dubai)       AE
 233                  234                             United Kingdom       GB
 234                  235                             United Kingdom       GB
 235                  310                   United States of America       US
 236                  311                   United States of America       US
 237                  312                   United States of America       US
 238                  313                   United States of America       US
 239                  314                   United States of America       US
 240                  315                   United States of America       US
 241                  316                   United States of America       US
 242                  332               United States Virgin Islands       VI
 243                  748                                    Uruguay       UY
 244                  434                                 Uzbekistan       UZ
 245                  541                                  V Vanuatu       VU
 246                  734                                  Venezuela       VE
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes  \
 0             List of mobile network codes in Abkhazia
 1          List of mobile network codes in Afghanistan
 2              List of mobile network codes in Albania
 3              List of mobile network codes in Algeria
 4       List of mobile network codes in American Samoa
 5              List of mobile network codes in Andorra
 6               List of mobile network codes in Angola
 7             List of mobile network codes in Anguilla
 8    List of mobile network codes in Antigua and Ba...
 9            List of mobile network codes in Argentina
 10             List of mobile network codes in Armenia
 11               List of mobile network codes in Aruba
 12           List of mobile network codes in Australia
 13             List of mobile network codes in Austria
 14          List of mobile network codes in Azerbaijan
 15             List of mobile network codes in Bahamas
 16             List of mobile network codes in Bahrain
 17          List of mobile network codes in Bangladesh
 18            List of mobile network codes in Barbados
 19             List of mobile network codes in Belarus
 20             List of mobile network codes in Belgium
 21              List of mobile network codes in Belize
 22               List of mobile network codes in Benin
 23             List of mobile network codes in Bermuda
 24              List of mobile network codes in Bhutan
 25             List of mobile network codes in Bolivia
 26   List of mobile network codes in the former Net...
 27   List of mobile network codes in Bosnia and Her...
 28            List of mobile network codes in Botswana
 29              List of mobile network codes in Brazil
 ..                                                 ...
 222  List of mobile network codes in Trinidad and T...
 223            List of mobile network codes in Tunisia
 224             List of mobile network codes in Turkey
 225       List of mobile network codes in Turkmenistan
 226  List of mobile network codes in the Turks and ...
 227             List of mobile network codes in Tuvalu
 228             List of mobile network codes in Uganda
 229            List of mobile network codes in Ukraine
 230  List of mobile network codes in the United Ara...
 231                                    no networks yet
 232                                    no networks yet
 233  List of mobile network codes in the United Kin...
 234  List of mobile network codes in the United Kin...
 235  List of mobile network codes in the United Sta...
 236  List of mobile network codes in the United Sta...
 237  List of mobile network codes in the United Sta...
 238  List of mobile network codes in the United Sta...
 239  List of mobile network codes in the United Sta...
 240  List of mobile network codes in the United Sta...
 241  List of mobile network codes in the United Sta...
 242  List of mobile network codes in the United Sta...
 243            List of mobile network codes in Uruguay
 244     List of mobile network codes in the Uzbekistan
 245            List of mobile network codes in Vanuatu
 246          List of mobile network codes in Venezuela
 247        List of mobile network codes in the Vietnam
 248  List of mobile network codes in Wallis and Futuna
 249          List of mobile network codes in the Yemen
 250             List of mobile network codes in Zambia
 251           List of mobile network codes in Zimbabwe

                                 National MNC authority  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                 Public Utilities Commission (PUC)[5]
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13   Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...
 14                                                 NaN
 15   Utilities Regulation & Competition Authority (...
 16                                                 NaN
 17   Bangladesh Telecommunication Regulatory Commis...
 18                                                 NaN
 19                                                 NaN
 20   Belgian Institute for Postal services and Tele...
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222  Telecommunications Authority of Trinidad and T...
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229  National Commission for the State Regulation o...
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233               Office of Communications (Ofcom)[22]
 234               Office of Communications (Ofcom)[22]
 235                             IMSI Administrator[21]
 236                             IMSI Administrator[21]
 237                             IMSI Administrator[21]
 238                             IMSI Administrator[21]
 239                             IMSI Administrator[21]
 240                             IMSI Administrator[21]
 241                             IMSI Administrator[21]
 242                             IMSI Administrator[21]
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

                                                Remarks
 0                             MCC is not listed by ITU
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222                                                NaN
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229                                                NaN
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233                                                NaN
 234                                                NaN
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239                                                NaN
 240                                                NaN
 241                                                NaN
 242  The US Virgin Islands share the US MCCs instea...
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

 [252 rows x 6 columns]]

In [127]:
dfs = pd.read_html(url_mcc, match='Mobile network codes',header=0)
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 5                    213                                    Andorra       AD
 6                    631                                     Angola       AO
 7                    365                  Anguilla (United Kingdom)       AI
 8                    344                        Antigua and Barbuda       AG
 9                    722                                  Argentina       AR
 10                   283                                    Armenia       AM
 11                   363                                      Aruba       AW
 12                   505                                  Australia       AU
 13                   232                                    Austria       AT
 14                   400                                 Azerbaijan       AZ
 15                   364                                  B Bahamas       BS
 16                   426                                    Bahrain       BH
 17                   470                                 Bangladesh       BD
 18                   342                                   Barbados       BB
 19                   257                                    Belarus       BY
 20                   206                                    Belgium       BE
 21                   702                                     Belize       BZ
 22                   616                                      Benin       BJ
 23                   350                                    Bermuda       BM
 24                   402                                     Bhutan       BT
 25                   736                                    Bolivia       BO
 26                   362           Bonaire, Sint Eustatius and Saba       BQ
 27                   218                     Bosnia and Herzegovina       BA
 28                   652                                   Botswana       BW
 29                   724                                     Brazil       BR
 ..                   ...                                        ...      ...
 222                  374                        Trinidad and Tobago       TT
 223                  605                                    Tunisia       TN
 224                  286                                     Turkey       TR
 225                  438                               Turkmenistan       TM
 226                  376                   Turks and Caicos Islands       TC
 227                  553                                     Tuvalu       TV
 228                  641                                   U Uganda       UG
 229                  255                                    Ukraine       UA
 230                  424                       United Arab Emirates       AE
 231                  430           United Arab Emirates (Abu Dhabi)       AE
 232                  431               United Arab Emirates (Dubai)       AE
 233                  234                             United Kingdom       GB
 234                  235                             United Kingdom       GB
 235                  310                   United States of America       US
 236                  311                   United States of America       US
 237                  312                   United States of America       US
 238                  313                   United States of America       US
 239                  314                   United States of America       US
 240                  315                   United States of America       US
 241                  316                   United States of America       US
 242                  332               United States Virgin Islands       VI
 243                  748                                    Uruguay       UY
 244                  434                                 Uzbekistan       UZ
 245                  541                                  V Vanuatu       VU
 246                  734                                  Venezuela       VE
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes  \
 0             List of mobile network codes in Abkhazia
 1          List of mobile network codes in Afghanistan
 2              List of mobile network codes in Albania
 3              List of mobile network codes in Algeria
 4       List of mobile network codes in American Samoa
 5              List of mobile network codes in Andorra
 6               List of mobile network codes in Angola
 7             List of mobile network codes in Anguilla
 8    List of mobile network codes in Antigua and Ba...
 9            List of mobile network codes in Argentina
 10             List of mobile network codes in Armenia
 11               List of mobile network codes in Aruba
 12           List of mobile network codes in Australia
 13             List of mobile network codes in Austria
 14          List of mobile network codes in Azerbaijan
 15             List of mobile network codes in Bahamas
 16             List of mobile network codes in Bahrain
 17          List of mobile network codes in Bangladesh
 18            List of mobile network codes in Barbados
 19             List of mobile network codes in Belarus
 20             List of mobile network codes in Belgium
 21              List of mobile network codes in Belize
 22               List of mobile network codes in Benin
 23             List of mobile network codes in Bermuda
 24              List of mobile network codes in Bhutan
 25             List of mobile network codes in Bolivia
 26   List of mobile network codes in the former Net...
 27   List of mobile network codes in Bosnia and Her...
 28            List of mobile network codes in Botswana
 29              List of mobile network codes in Brazil
 ..                                                 ...
 222  List of mobile network codes in Trinidad and T...
 223            List of mobile network codes in Tunisia
 224             List of mobile network codes in Turkey
 225       List of mobile network codes in Turkmenistan
 226  List of mobile network codes in the Turks and ...
 227             List of mobile network codes in Tuvalu
 228             List of mobile network codes in Uganda
 229            List of mobile network codes in Ukraine
 230  List of mobile network codes in the United Ara...
 231                                    no networks yet
 232                                    no networks yet
 233  List of mobile network codes in the United Kin...
 234  List of mobile network codes in the United Kin...
 235  List of mobile network codes in the United Sta...
 236  List of mobile network codes in the United Sta...
 237  List of mobile network codes in the United Sta...
 238  List of mobile network codes in the United Sta...
 239  List of mobile network codes in the United Sta...
 240  List of mobile network codes in the United Sta...
 241  List of mobile network codes in the United Sta...
 242  List of mobile network codes in the United Sta...
 243            List of mobile network codes in Uruguay
 244     List of mobile network codes in the Uzbekistan
 245            List of mobile network codes in Vanuatu
 246          List of mobile network codes in Venezuela
 247        List of mobile network codes in the Vietnam
 248  List of mobile network codes in Wallis and Futuna
 249          List of mobile network codes in the Yemen
 250             List of mobile network codes in Zambia
 251           List of mobile network codes in Zimbabwe

                                 National MNC authority  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                 Public Utilities Commission (PUC)[5]
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13   Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...
 14                                                 NaN
 15   Utilities Regulation & Competition Authority (...
 16                                                 NaN
 17   Bangladesh Telecommunication Regulatory Commis...
 18                                                 NaN
 19                                                 NaN
 20   Belgian Institute for Postal services and Tele...
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222  Telecommunications Authority of Trinidad and T...
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229  National Commission for the State Regulation o...
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233               Office of Communications (Ofcom)[22]
 234               Office of Communications (Ofcom)[22]
 235                             IMSI Administrator[21]
 236                             IMSI Administrator[21]
 237                             IMSI Administrator[21]
 238                             IMSI Administrator[21]
 239                             IMSI Administrator[21]
 240                             IMSI Administrator[21]
 241                             IMSI Administrator[21]
 242                             IMSI Administrator[21]
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

                                                Remarks
 0                             MCC is not listed by ITU
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222                                                NaN
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229                                                NaN
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233                                                NaN
 234                                                NaN
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239                                                NaN
 240                                                NaN
 241                                                NaN
 242  The US Virgin Islands share the US MCCs instea...
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

 [252 rows x 6 columns]]

In [129]:
dfs = pd.read_html(url_mcc, match='Remarks',header=0)
dfs

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 5                    213                                    Andorra       AD
 6                    631                                     Angola       AO
 7                    365                  Anguilla (United Kingdom)       AI
 8                    344                        Antigua and Barbuda       AG
 9                    722                                  Argentina       AR
 10                   283                                    Armenia       AM
 11                   363                                      Aruba       AW
 12                   505                                  Australia       AU
 13                   232                                    Austria       AT
 14                   400                                 Azerbaijan       AZ
 15                   364                                  B Bahamas       BS
 16                   426                                    Bahrain       BH
 17                   470                                 Bangladesh       BD
 18                   342                                   Barbados       BB
 19                   257                                    Belarus       BY
 20                   206                                    Belgium       BE
 21                   702                                     Belize       BZ
 22                   616                                      Benin       BJ
 23                   350                                    Bermuda       BM
 24                   402                                     Bhutan       BT
 25                   736                                    Bolivia       BO
 26                   362           Bonaire, Sint Eustatius and Saba       BQ
 27                   218                     Bosnia and Herzegovina       BA
 28                   652                                   Botswana       BW
 29                   724                                     Brazil       BR
 ..                   ...                                        ...      ...
 222                  374                        Trinidad and Tobago       TT
 223                  605                                    Tunisia       TN
 224                  286                                     Turkey       TR
 225                  438                               Turkmenistan       TM
 226                  376                   Turks and Caicos Islands       TC
 227                  553                                     Tuvalu       TV
 228                  641                                   U Uganda       UG
 229                  255                                    Ukraine       UA
 230                  424                       United Arab Emirates       AE
 231                  430           United Arab Emirates (Abu Dhabi)       AE
 232                  431               United Arab Emirates (Dubai)       AE
 233                  234                             United Kingdom       GB
 234                  235                             United Kingdom       GB
 235                  310                   United States of America       US
 236                  311                   United States of America       US
 237                  312                   United States of America       US
 238                  313                   United States of America       US
 239                  314                   United States of America       US
 240                  315                   United States of America       US
 241                  316                   United States of America       US
 242                  332               United States Virgin Islands       VI
 243                  748                                    Uruguay       UY
 244                  434                                 Uzbekistan       UZ
 245                  541                                  V Vanuatu       VU
 246                  734                                  Venezuela       VE
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes  \
 0             List of mobile network codes in Abkhazia
 1          List of mobile network codes in Afghanistan
 2              List of mobile network codes in Albania
 3              List of mobile network codes in Algeria
 4       List of mobile network codes in American Samoa
 5              List of mobile network codes in Andorra
 6               List of mobile network codes in Angola
 7             List of mobile network codes in Anguilla
 8    List of mobile network codes in Antigua and Ba...
 9            List of mobile network codes in Argentina
 10             List of mobile network codes in Armenia
 11               List of mobile network codes in Aruba
 12           List of mobile network codes in Australia
 13             List of mobile network codes in Austria
 14          List of mobile network codes in Azerbaijan
 15             List of mobile network codes in Bahamas
 16             List of mobile network codes in Bahrain
 17          List of mobile network codes in Bangladesh
 18            List of mobile network codes in Barbados
 19             List of mobile network codes in Belarus
 20             List of mobile network codes in Belgium
 21              List of mobile network codes in Belize
 22               List of mobile network codes in Benin
 23             List of mobile network codes in Bermuda
 24              List of mobile network codes in Bhutan
 25             List of mobile network codes in Bolivia
 26   List of mobile network codes in the former Net...
 27   List of mobile network codes in Bosnia and Her...
 28            List of mobile network codes in Botswana
 29              List of mobile network codes in Brazil
 ..                                                 ...
 222  List of mobile network codes in Trinidad and T...
 223            List of mobile network codes in Tunisia
 224             List of mobile network codes in Turkey
 225       List of mobile network codes in Turkmenistan
 226  List of mobile network codes in the Turks and ...
 227             List of mobile network codes in Tuvalu
 228             List of mobile network codes in Uganda
 229            List of mobile network codes in Ukraine
 230  List of mobile network codes in the United Ara...
 231                                    no networks yet
 232                                    no networks yet
 233  List of mobile network codes in the United Kin...
 234  List of mobile network codes in the United Kin...
 235  List of mobile network codes in the United Sta...
 236  List of mobile network codes in the United Sta...
 237  List of mobile network codes in the United Sta...
 238  List of mobile network codes in the United Sta...
 239  List of mobile network codes in the United Sta...
 240  List of mobile network codes in the United Sta...
 241  List of mobile network codes in the United Sta...
 242  List of mobile network codes in the United Sta...
 243            List of mobile network codes in Uruguay
 244     List of mobile network codes in the Uzbekistan
 245            List of mobile network codes in Vanuatu
 246          List of mobile network codes in Venezuela
 247        List of mobile network codes in the Vietnam
 248  List of mobile network codes in Wallis and Futuna
 249          List of mobile network codes in the Yemen
 250             List of mobile network codes in Zambia
 251           List of mobile network codes in Zimbabwe

                                 National MNC authority  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                 Public Utilities Commission (PUC)[5]
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13   Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...
 14                                                 NaN
 15   Utilities Regulation & Competition Authority (...
 16                                                 NaN
 17   Bangladesh Telecommunication Regulatory Commis...
 18                                                 NaN
 19                                                 NaN
 20   Belgian Institute for Postal services and Tele...
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222  Telecommunications Authority of Trinidad and T...
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229  National Commission for the State Regulation o...
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233               Office of Communications (Ofcom)[22]
 234               Office of Communications (Ofcom)[22]
 235                             IMSI Administrator[21]
 236                             IMSI Administrator[21]
 237                             IMSI Administrator[21]
 238                             IMSI Administrator[21]
 239                             IMSI Administrator[21]
 240                             IMSI Administrator[21]
 241                             IMSI Administrator[21]
 242                             IMSI Administrator[21]
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

                                                Remarks
 0                             MCC is not listed by ITU
 1                                                  NaN
 2                                                  NaN
 3                                                  NaN
 4                                                  NaN
 5                                                  NaN
 6                                                  NaN
 7                                                  NaN
 8                                                  NaN
 9                                                  NaN
 10                                                 NaN
 11                                                 NaN
 12                                                 NaN
 13                                                 NaN
 14                                                 NaN
 15                                                 NaN
 16                                                 NaN
 17                                                 NaN
 18                                                 NaN
 19                                                 NaN
 20                                                 NaN
 21                                                 NaN
 22                                                 NaN
 23                                                 NaN
 24                                                 NaN
 25                                                 NaN
 26                                                 NaN
 27                                                 NaN
 28                                                 NaN
 29                                                 NaN
 ..                                                 ...
 222                                                NaN
 223                                                NaN
 224                                                NaN
 225                                                NaN
 226                                                NaN
 227                                                NaN
 228                                                NaN
 229                                                NaN
 230                                                NaN
 231                                                NaN
 232                                                NaN
 233                                                NaN
 234                                                NaN
 235                                                NaN
 236                                                NaN
 237                                                NaN
 238                                                NaN
 239                                                NaN
 240                                                NaN
 241                                                NaN
 242  The US Virgin Islands share the US MCCs instea...
 243                                                NaN
 244                                                NaN
 245                                                NaN
 246                                                NaN
 247                                                NaN
 248                                                NaN
 249                                                NaN
 250                                                NaN
 251                                                NaN

 [252 rows x 6 columns]]

In [128]:
dfs[0]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
5,213,Andorra,AD,List of mobile network codes in Andorra,NaN,NaN
6,631,Angola,AO,List of mobile network codes in Angola,NaN,NaN
7,365,Anguilla (United Kingdom),AI,List of mobile network codes in Anguilla,Public Utilities Commission (PUC)[5],NaN
8,344,Antigua and Barbuda,AG,List of mobile network codes in Antigua and Ba...,NaN,NaN
9,722,Argentina,AR,List of mobile network codes in Argentina,NaN,NaN
10,283,Armenia,AM,List of mobile network codes in Armenia,NaN,NaN
11,363,Aruba,AW,List of mobile network codes in Aruba,NaN,NaN
12,505,Australia,AU,List of mobile network codes in Australia,NaN,NaN
13,232,Austria,AT,List of mobile network codes in Austria,Rundfunk- und Telekom Regulierungs-GmbH (RTR-G...,NaN
14,400,Azerbaijan,AZ,List of mobile network codes in Azerbaijan,NaN,NaN
15,364,B Bahamas,BS,List of mobile network codes in Bahamas,Utilities Regulation & Competition Authority (...,NaN
16,426,Bahrain,BH,List of mobile network codes in Bahrain,NaN,NaN
17,470,Bangladesh,BD,List of mobile network codes in Bangladesh,Bangladesh Telecommunication Regulatory Commis...,NaN
18,342,Barbados,BB,List of mobile network codes in Barbados,NaN,NaN
19,257,Belarus,BY,List of mobile network codes in Belarus,NaN,NaN
20,206,Belgium,BE,List of mobile network codes in Belgium,Belgian Institute for Postal services and Tele...,NaN
21,702,Belize,BZ,List of mobile network codes in Belize,NaN,NaN
22,616,Benin,BJ,List of mobile network codes in Benin,NaN,NaN
23,350,Bermuda,BM,List of mobile network codes in Bermuda,NaN,NaN
24,402,Bhutan,BT,List of mobile network codes in Bhutan,NaN,NaN
25,736,Bolivia,BO,List of mobile network codes in Bolivia,NaN,NaN
26,362,"Bonaire, Sint Eustatius and Saba",BQ,List of mobile network codes in the former Net...,NaN,NaN
27,218,Bosnia and Herzegovina,BA,List of mobile network codes in Bosnia and Her...,NaN,NaN
28,652,Botswana,BW,List of mobile network codes in Botswana,NaN,NaN
29,724,Brazil,BR,List of mobile network codes in Brazil,NaN,NaN
...,...,...,...,...,...,...
222,374,Trinidad and Tobago,TT,List of mobile network codes in Trinidad and T...,Telecommunications Authority of Trinidad and T...,NaN
223,605,Tunisia,TN,List of mobile network codes in Tunisia,NaN,NaN
224,286,Turkey,TR,List of mobile network codes in Turkey,NaN,NaN
225,438,Turkmenistan,TM,List of mobile network codes in Turkmenistan,NaN,NaN
226,376,Turks and Caicos Islands,TC,List of mobile network codes in the Turks and ...,NaN,NaN
227,553,Tuvalu,TV,List of mobile network codes in Tuvalu,NaN,NaN
228,641,U Uganda,UG,List of mobile network codes in Uganda,NaN,NaN
229,255,Ukraine,UA,List of mobile network codes in Ukraine,National Commission for the State Regulation o...,NaN
230,424,United Arab Emirates,AE,List of mobile network codes in the United Ara...,NaN,NaN
231,430,United Arab Emirates (Abu Dhabi),AE,no networks yet,NaN,NaN
232,431,United Arab Emirates (Dubai),AE,no networks yet,NaN,NaN
233,234,United Kingdom,GB,List of mobile network codes in the United Kin...,Office of Communications (Ofcom)[22],NaN
234,235,United Kingdom,GB,List of mobile network codes in the United Kin...,Office of Communications (Ofcom)[22],NaN
235,310,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
236,311,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
237,312,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
238,313,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
239,314,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
240,315,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
241,316,United States of America,US,List of mobile network codes in the United Sta...,IMSI Administrator[21],NaN
242,332,United States Virgin Islands,VI,List of mobile network codes in the United Sta...,IMSI Administrator[21],The US Virgin Islands share the US MCCs instea...
243,748,Uruguay,UY,List of mobile network codes in Uruguay,NaN,NaN
244,434,Uzbekistan,UZ,List of mobile network codes in the Uzbekistan,NaN,NaN
245,541,V Vanuatu,VU,List of mobile network codes in Vanuatu,NaN,NaN
246,734,Venezuela,VE,List of mobile network codes in Venezuela,NaN,NaN
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

## Reading EXcel Files

In [130]:
df_excel=pd.read_excel('Excel_Sample.xlsx')

In [131]:
df_excel.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [137]:
df_excel=pd.read_excel('Excel_Sample.xlsx',sheet_name=0)
df_excel

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

## Pickling
All pandas objects are equipped with to_pickle methods which use Python’s cPickle module to save data structures to disk using the pickle format.

In [145]:
df_excel.to_pickle('df_excel')
df_excel# whole data structure into pickel format.convert ito pickle

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [144]:
df=pd.read_pickle('df_excel')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [146]:
df.head()

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15